@import _mixinmaster
.globalError , .globalStatus , .globalSuccess , .globalWarning , .globalWarningConfirm
  display: none
  justify-content: center
  align-items: center
  transition-duration: 0.5s
  position: absolute
  bottom: -3.125rem
  height: 3.125rem
  width: 100%
  background-color: $errorRed
  z-index: 50
  color: white
  font-weight: 400
.confirm , .reject
  border: none
  height: min-content
  width: min-content
  padding: 0.5rem 1rem
  margin-left: 2rem
  background-color: #de9528
  cursor: pointer
  color: white
.globalStatus
  background-color: #FF6D00
.globalSuccess
  background-color: #4caf50
.globalWarning , .globalWarningConfirm
  background-color: #f9aa33
  color: $glimpse