@import _mixinmaster
.user-input-wrp
  display: block
  position: relative
  width: 100%
  margin-top: 0.875rem
.user-input-wrp .inputText
  background: none
  padding: 0.125rem 0
  font-size: 1rem
  width: 100%
  outline: none
  border: none
  border-bottom: 0.0625rem solid #777
.user-input-wrp .floating-label
  margin: 0
  font-weight: 400
  font-size: 1rem
  position: absolute
  pointer-events: none
  top: 0.125rem
  left: 0
  transition: 0.2s ease all
  color: $glimpse
  text-transform: capitalize
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label
  font-weight: normal
  font-size: 1.5rem
  width: 100%
  top: -1.2125rem
  margin: 0.125rem 0
  font-size: 0.8125rem
  opacity: 1
  color: $glimpse
input:focus
  outline: none
.search > .floating-label
  left: 0.3125rem
//ios checkbox
.form-switch
  display: inline-block
  cursor: pointer
  -webkit-tap-highlight-color: transparent
  text-transform: capitalize
.form-switch i
  position: relative
  display: inline-block
  margin-right: .5rem
  width: 2.875rem
  height: 1.625rem
  background-color: #e6e6e6
  border-radius: 1.438rem
  vertical-align: text-bottom
  transition: all 0.3s linear
  text-transform: capitalize
.form-switch i::before
  content: ""
  position: absolute
  left: 0
  width: 2.625rem
  height: 1.375rem
  background-color: #fff
  border-radius: 0.688rem
  transform: translate3d(0.125rem, 0.125rem, 0) scale3d(1, 1, 1)
  transition: all 0.25s linear
.form-switch i::after
  content: ""
  position: absolute
  left: 0
  width: 1.375rem
  height: 1.375rem
  background-color: #fff
  border-radius: 0.688rem
  box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24)
  transform: translate3d(0.125rem, 0.125rem, 0)
  transition: all 0.2s ease-in-out
.form-switch:active i::after
  width: 1.75rem
  transform: translate3d(0.125rem, 0.125rem, 0)
.form-switch:active input:checked+i::after
  transform: translate3d(1rem, 0.125rem, 0)
.form-switch input
  display: none
.form-switch input:checked+i
  background-color: #4BD763
.form-switch input:checked+i::before
  transform: translate3d(1.125rem, 0.125rem, 0) scale3d(0, 0, 0)
.form-switch input:checked+i::after
  transform: translate3d(1.375rem, 0.125rem, 0)
//textarea 
textarea
  position: absolute
  top: 0
  left: 0
  pointer-events: all
  height: 100%
  width: 100%
  border: 0
  padding: 0
  border: 0.0625rem solid $backgroundBlue
  font-family: Roboto
textarea:focus ~ label,
textarea:not(:focus):valid ~ label
  font-weight: normal
  font-size: 1.5rem
  width: 100%
  top: -1.2125rem
  margin: 0.125rem 0
  font-size: 0.8125rem
  opacity: 1
  color: $glimpse
.is-floating-label
  position: relative
.is-floating-label input
  position: absolute
  left: 0
  background-color: transparent
.is-floating-label label
  opacity: 1
  pointer-events: none
  position: absolute
  transform: translate3d(0, 0, 0) scale(1)
  transform-origin: left top
  transition: 100ms
.is-floating-label.is-focused label
  transform: translateY(-0.937rem) scale(0.85)
.field
  margin-top: 0.875rem
  width: 90%
  height: 12.5rem
  position: relative
.label-checkbox
  position: absolute
  top: 0
  left: 0
  pointer-events: none
  transition: 0.2s ease all
.user-input-wrp .inputText
  background: none
  padding: 0.125rem 0
  font-size: 1rem
  width: 100%
  outline: none
  border: none
  border-bottom: 0.0625rem solid #777
.search:focus-within
  width: 100%
.search
  margin-bottom: 1.125rem
  padding: 0 0.3125rem
  width: 100%
