@import _mixinmaster
.loader
  display: block
  position: absolute
  bottom: 2.813rem
  right: 2.813rem
  z-index: 200
  width: $sizeLoader
  height: $sizeLoader
  animation: loaderAnim 1.25s infinite ease-in-out
  outline: 0.0625rem solid transparent
  #largeBox
    height: $sizeLoader
    width: $sizeLoader
    background-color: #34495e
    outline: 0.0625rem solid transparent
    position: fixed
  #smallBox
    height: $sizeLoader
    width: $sizeLoader
    background-color: $backgroundBlue
    position: fixed
    z-index: 1
    outline: 0.0625rem solid transparent
    animation: smallBoxAnim 1.25s alternate infinite ease-in-out
@keyframes smallBoxAnim
    0%
        transform: scale(0.2)
    100%
        transform: scale(0.75)

@keyframes loaderAnim
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(90deg)