@import _mixinmaster
@media all and (max-width: $breakpoint-tablet-width)
  .mainContent
    width: 100%
  .arrowContainer , .right-arrow
    display: none
  .user-input-wrp
    width: calc(100% - 0.3125rem)
  button
    width: calc(100% - 0.3125rem)
  .error
    width: calc(100% - 0.3125rem)
  .navbar
    justify-content: center
    .text
      display: none
  .lip
      padding-left: 1rem
      padding-right: 1rem
      span
        display: none
      #name
        display: flex
      *
        font-size: 1.25rem
  #admin-option , .text , #switch-option , #edit-option , .comma
    display: none
  .sidebar-transition
    right: 0 !important
    bottom: 0 !important
  .sidebar
    flex-direction: column
    width: 100%
    height: calc(100% - 120px)
    bottom: 0
    right: 0
  .sidebar-title
    writing-mode: lr-tb
    transform: none
    min-width: 100%
    width: 100%
    min-height: 50px
    max-height: 50px
  .arrowContainer
    display: none
  .right-arrow
    width: 0
    height: 0
    border-left: 1.25rem solid transparent
    border-right: 1.25rem transparent solid
    border-top: 1.25rem #891701 solid
    border-bottom: 1.25rem transparent solid
  .list
    width: 100%
  .listContainer
    padding-right: 0
  #showObjective
    max-height: calc(100% - 100px - 120px)
    min-height: calc(100% - 100px - 120px)
    bottom: -100vh
    right: 0
  *::-webkit-scrollbar-track
      background-color: unset
  *::-webkit-scrollbar
      width: 0.625rem
      background-color: unset
  *::-webkit-scrollbar-thumb
      background-color: unset
  *:focus
      outline: unset
  button
    width: calc(100% - 0.3125rem)
  .error
    width: calc(100% - 0.3125rem)