$glimpse: #212529
$darkBlue: #002b55
$lightBlue: #56b7e9
$sizeLoader: 1.5rem
$padding: 0.625rem
$breakpoint-tablet-width: 67.13rem
$breakpoint-logo-hide: 32.8rem
$backgroundBlue: #e3eff5
$sidebarWidth: 100vw
$markGreen: #66e166
// $markGreen: #5dd9c1
$bodyFont: Roboto
$errorRed: #ff4d4d
// $errorRed: #e7798a
$currentBlue: #56b7e9
@import url('https://fonts.googleapis.com/css?family=Roboto')
$backgroundGrey: #f6f8f9
$mywhite: #e3eff5

// = user-select($noneParameter)
//   -webkit-user-select: $noneParameter
//   -moz-user-select: $noneParameter
//   -ms-user-select: $noneParameter
//   user-select: $noneParameter
//   -webkit-user-drag: $noneParameter

// = display-flex()
//   display: -webkit-box
//   display: -ms-flexbox
//   display: flex


// // = justify-content($justifyParameter)
// //   justify-content: $justifyParameter
// //   @if $justifyParameter == flex-start
// //     -webkit-box-pack: start
// //     -ms-flex-pack: start
// //   @else if $justifyParameter== flex-end
// //     -webkit-box-pack: end
// //     -ms-flex-pack: end
// //   @else if $justifyParameter == center
// //     -webkit-box-pack: center
// //     -ms-flex-pack: center
// //   @else if $justifyParameter == space-around
// //     -ms-flex-pack: distribute
// //   @else if $justifyParameter == space-between
// //     -webkit-box-pack: justify
// //     -ms-flex-pack: justify
// //   @else
// //     -webkit-box-pack: space-evenly
// //     -ms-flex-pack: space-evenly

// = align-items($alignParameter)
//   align-items: $alignParameter
//   @if $alignParameter == flex-start
//     -webkit-box-pack: start
//     -ms-flex-pack: start
//   @else if $alignParameter== flex-end
//     -webkit-box-pack: end
//     -ms-flex-pack: end
//   @else if $alignParameter == center
//     -webkit-box-pack: center
//     -ms-flex-pack: center
//   @else if $alignParameter == space-around
//     -webkit-box-align: space-around
//     -ms-flex-align: space-around
//   @else
//     -webkit-box-align: space-between
//     -ms-flex-align: space-between

// = flex-direction($directionParameter)
//   @if $directionParameter == column
//       -webkit-box-orient: vertical
//       -webkit-box-direction: normal
//       -ms-flex-direction: column
//       flex-direction: column
//   @else
//       -webkit-box-orient: horizontal
//       -webkit-box-direction: normal
//       -ms-flex-direction: row
//       flex-direction: row
= box-shadow()
  -webkit-box-shadow: 0px 0px 41px -11px rgba(0, 0, 0, 0.75)
  box-shadow: 0px 0px 41px -11px rgba(0, 0, 0, 0.75)

= transition($timeParameter)
  -webkit-transition: $timeParameter cubic-bezier(0.42, 0, 1, 1) all
  transition: $timeParameter cubic-bezier(0.42, 0, 1, 1) all
// = flex-wrap($wrapParameter)
//     -ms-flex-wrap: $wrapParameter
//     flex-wrap: $wrapParameter
= arrow($direction, $color, $size)
    display: block
    height: 0
    width: 0
    @if $direction == 'top'
        border-left: $size solid transparent
        border-right: $size solid transparent
        border-bottom: $size solid $color
    @else if $direction == 'right'
        border-top: $size solid transparent
        border-bottom: $size solid transparent
        border-left: $size solid $color
    @else if $direction == 'bottom'
        border-top: $size solid $color
        border-right: $size solid transparent
        border-left: $size solid transparent
    @else if $direction == 'left'
        border-top: $size solid transparent
        border-right: $size solid $color
        border-bottom: $size solid transparent
    @else if $direction == 'top-left'
        border-top: $size solid $color
        border-right: $size solid transparent
    @else if $direction == 'top-right'
        border-top: $size solid $color
        border-left: $size solid transparent
    @else if $direction == 'bottom-left'
        border-bottom: $size solid $color
        border-right: $size solid transparent
    @else if $direction == 'bottom-right'
        border-bottom: $size solid $color
        border-left: $size solid transparent

= overflow-ellipsis()
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis