@import _mixinmaster
.navbar
	z-index: 50
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	background-color: white
	width: 100%
	min-height: 4.817rem
	max-height: 4.817rem
	.logo
		width: 2.813rem
		padding:  0.625rem 2rem 0.625rem 2rem
	.text
		width: 18.75rem
		padding:  0.625rem 2rem 0.625rem 2rem 
.wrapper
  width: 100%
  height: auto
  top: 0
  left: 0
  position: fixed
  z-index: 50
  box-shadow: 0px 0.25rem 0.625rem 0px rgba(0, 0, 0, 0.17)
  .user-option , .name-kn_code
    display: flex
    flex-direction: row
    align-items: center
  .user-option
    .lip-option
      margin-left: 2rem
      cursor: pointer
  .name-kn_code
    .lip-option
      .label
        color: $lightBlue
        font-size: 0.75rem
.lip-option
  display: flex
  justify-content: center
  align-items: center
.lip
  width: calc(100%)
  background-color: white
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  border-top: 0.125rem solid #f3f3f3
  padding: 0.5rem 2rem