*
	box-sizing: border-box
*::-webkit-scrollbar-track
    background-color: transaprent

*::-webkit-scrollbar
    width: 0.625rem
    background-color: transparent

*::-webkit-scrollbar-thumb
    background-color: $currentBlue