@import _mixinmaster
.sidebar
  display: flex
  flex-direction: row
  position: fixed
  // background: linear-gradient(270deg, rgba(153,218,255,0.05) 0%, rgba(255,255,255,1) 18%),url(../image/blue1.jpg)
  background-image: url(../image/blue11.jpg)
  height: calc(100% - 7.075rem)
  width: $sidebarWidth
  right: 0
  bottom: 0
  z-index: 10
  +box-shadow()
  flex-direction: row
  align-items: center
  background-size: cover
.sidebar-title
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  font-weight: 400
  width: 3.125rem
  min-width: 3.125rem
  max-width: 3.125rem
  height: 100%
  padding: 1.25rem 0.3125rem
  background-color: $backgroundBlue
  color: $glimpse
  writing-mode: vertical-rl
  font-size: 1.2rem
  transform: rotate(180deg)
  cursor: pointer
  background: #5433FF
  // color: white
  // background-image: url(../image/sidebar-title.jpg)
  background: linear-gradient(to bottom, #FFFFFF, #68e0f0)
  background-size: cover

.chrome-transition
  +transition(0.5s)