
@import mixinMaster
.display 
  display: flex !important
.display-loader
  display: block !important
.invisible
  display: none !important
.site-content , .siteContent
  display: none
  overflow: hidden
  width: 100vw
  height: 100vh
a, a:link, a:visited, a:hover, a:active
  color: $glimpse
  text-decoration: none
  font-weight: normal
*:focus
    outline: none
button
  text-transform: uppercase
  cursor: pointer
  width: 100%
  min-height: 3.125rem
  border: 0.125rem $darkBlue solid
  background-color: white
  color: $glimpse
  size: 1.5em
  margin: 0.625rem 0
.error, .emailValidate, .passwordValidate, .ValidateForgotMail
  display: flex
  width: 100%
  height: 10px
  margin: 0 0 10px 0
  font-size: 13px
  color: $errorRed
body
  display: flex
  justify-content: flex-start
  align-items: flex-start
  flex-direction: column
  margin: 0
  padding: 0
  width: 100vw
  height: 100vh
  background-color: white
  font-family: $bodyFont
  overflow: hidden
img
	box-sizing: content-box !important
  user-select: none
#edit-option
  cursor: pointer
  margin-left: 0.5rem
.lip-option:hover
  i
    color: $lightBlue
i
  display: inline-block
  width: 1rem
  font-size: 1rem
  width: auto
  margin: 0 0.5rem 0 0rem
.title-bar
  padding-right: 1.75rem
  height: 4.75rem
  border-bottom: 0.125rem solid #e3eff5
  width: 100%
  color: $glimpse
  font-size: 1.5rem
  font-weight: 400
  padding-left: 0.3125rem
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
.arrowContainer
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  width: 1.75rem
  // background-color: white
.right-arrow
  width: 0
  height: 0
  border-left: 1.25rem solid #b3eff7
  border-right: 1.25rem transparent solid
  border-top: 1.25rem transparent solid
  border-bottom: 1.25rem transparent solid
.margin-none
  margin: 0 !important
.baseline
  align-items: baseline
