@import _navbar_lip
@import _splash
@import _loader
@import _error
@import _input
@import _sidebar
@import _scrollbar
@import _media
@import _mixinMaster
@import _template
@import _mixinMaster
@import _breadcrumb
svg
  margin: 0!important
.sidebarLink
  cursor: pointer
  color: $glimpse
  pointer-events: all
  margin: 1.563rem 0
.mainContent
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  // background-color: white
  width: 75%
  height: 100%
.content
  cursor: pointer

.colContainer
  display: flex
  flex-direction: row
  width: 100%
  height: calc(100%)
.col1 , .col2
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  width: 100%
.col1
  margin-right: 1rem
.col2
  height: 100%
.title
  width: 100%
  padding: 1.25rem 0
  text-align: left
  font-size: 2rem
  font-weight: 500
  text-align: left
  color: $darkBlue
  padding-left: 0.3125rem
.listOfPresent
  width: 100%
  padding: 0.3125rem
  padding-right: 0.9375rem
  max-height: 100%
  overflow-y: auto
.list
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  box-shadow: 0 0.0625rem 0.5rem 0rem #aaa
  margin-right: 1.25rem
  color: white
  background-color: white
  height: 3.625rem
  margin: 0 0 1.25rem 0rem
  color: $glimpse
.listLabel
  display: flex
  align-items: center
  justify-content: flex-start
  width: calc(100% - 7rem)
  height: 100%
  padding-left: 1rem
.iconContainer
  height: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
  i
    margin: 0
  div
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
.edit
    content: '\f2ed'
    color: white
    min-height: 3.5rem
    cursor: pointer
    min-width: 3.5rem
    background-color: $lightBlue
    font-size: 1.2rem
.delete
    color: white
    min-height: 3.5rem
    cursor: pointer
    min-width: 3.5rem
    background-color: $errorRed
    font-size: 1.2rem
.form
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  max-height: 100%
  width: 100%
  // padding: 0 0.4375rem


//FINALISED
#addFramework
  left: 0
  width: 100vw
#addLevel
  right: -100%
  width: calc(100vw - 3.125rem)
#addSection
  right: -100%
  width: calc(100vw - 6.25rem)
#addObjective
  right: -100%
  width: calc(100vw - 9.375rem)

button
  width: 90%
.freeze
  color: #aaa
  user-select: none
  pointer-events: none
i
  cursor: pointer
.seperator
  height: 100%
  width: 2rem
  font-size: 3.5rem
  font-weight: 500

.label *
  text-transform: capitalize
#level-up-option , #switch-option
  display: none

@media all and (max-width: $breakpoint-logo-hide)
  .mainContent
    width: 100%
  .colContainer
    flex-direction: column
  .col1 , .col2
      height: 100%

  