@import _navbar_lip
@import _splash
@import _loader
@import _error
@import _input
@import _sidebar
@import _scrollbar
@import _media
@import _mixinMaster
@import _template
@import _mixinmaster
.breadCrumb
  display: flex
  flex-direction: row
  width: 100%
  border-bottom: 0.125rem solid $backgroundBlue
  margin-left: 0.3125rem
.singleBC
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  margin: 1.25rem 1.25rem 1.25rem 0rem
  font-size: 1.125rem
.label
  font-weight: 400
  font-size: 0.8125rem
  color: $darkBlue
  text-transform: uppercase
.notCurrent
  color: #aaa
.notCurrentLabel
  color: #777
.current
  justify-content: center
  align-items: center
  background-color: $backgroundBlue
  font-weight: 400
  font-size: 0.8125rem
  color: #002b55
  text-transform: uppercase
  margin: 1.25rem 1.25rem 1.25rem 0
  // border-radius: 5px
  padding: 0.937rem
  text-transform: none
  text-align: center
