@import _navbar_lip
@import _splash
@import _loader
@import _error
@import _input
@import _sidebar
@import _scrollbar
@import _media
@import _mixinMaster
@import _template
.leftbox
	height: 100%
	width: 60%
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	flex: 0 0 auto
.title
	width: 100%
	height: auto
	color: $glimpse
	font-size: 1.5rem
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	+overflow-ellipsis
.text-title
	height: 100%
	width: 90%
	display: flex
	justify-content: flex-start
	align-items: center
	+overflow-ellipsis
.rightbox
	height: 100%
	width: 40%
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	flex: 0 0 auto
.denoter
	color: #d8d8d8
	font-size: 1.75rem
	display: flex
	justify-content: center
	align-items: center
	width: auto
	height: 100%
	width: auto
	cursor: pointer
.badge-wrapper
	height: 100%
	width: 50%
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	flex: 0 0 auto
.xp
	width: 50%
	display: flex
	flex-direction: row
	justify-content: flex-end
	align-items: baseline
.badge
	border-radius: 22px
	padding: 0.25rem 0.75rem
	font-size: 0.85rem
	background-color: $backgroundBlue
	display: flex
	justify-content: center
	align-items(baseline)
	color: $darkBlue
	height: auto
	text-transform: uppercase
.listContainer
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: center 
	flex: 0 0 auto 
	padding-top: 2rem
	padding-bottom: 2rem
	padding-right: 1.75rem		
	overflow: auto
	width: 100%
	min-width: 100%
	height: calc(100% - 4.75rem)
.list
	display: flex
	flex: 0 0 auto
	flex-direction: column
	justify-content: flex-start
	border-radius: 2px
	background-color: white
	margin-bottom: 1.75rem
	width: 75%
	height: auto
.framework-title
	font-size: 1.5rem
.title-bar
	.label
		font-size: 1rem
		text-transform: titlecase
		color: $lightBlue
		+overflow-ellipsis
	.value
		font-size: 1.5rem
.country-title
	display: flex
	flex-direction: row
	align-items(baseline)
	color: $lightBlue
	font-size: 1rem
	text-transform: uppercase
.main
	height: 100%
	width: 75%
	padding: 0
	// background-color: white
.country-title
	display: flex
	flex-direction: row
	align-items(baseline)
	color: $lightBlue
	font-size: 1rem
	text-transform: uppercase
.list:last-child
	margin-bottom: 0
.completion-date
	color: $glimpse
	font-size: 0.75rem
.stats
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center		
	.label
		font-size: 0.75rem
		color: $glimpse
		+overflow-ellipsis
	.divider
		color: $lightBlue
		margin: 0 6px
	.value
		margin: 0 0 0 0.25rem
		font-size: 1rem
			color: $glimpse
.section-title
	color: $glimpse
	font-size: 1.25rem
.basic-info
	padding: 0 1rem
	width: calc(100%)
	height: 4rem
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	.label
		font-size: 0.75rem
		color: $lightBlue
		+overflow-ellipsis
	.value
		font-size: 1rem
.stat-container
	padding: 0rem 1rem
	width: 100%
	height: 2.25rem
	background-color: #e3eff5
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
.each-objective
	margin-bottom: 1.25rem
	display: flex
	flex-direction: column
	justify-content: center
	align-items: space-between
	width: calc(100%)
	.skipped
		visibility: hidden
	.label
		font-size: 0.75rem
		text-transform: uppercase
		color: $lightBlue
		+overflow-ellipsis()
	.value
		font-size: 1rem	
.section-objective
	filter: drop-shadow(0px 1px 4px #f1f1f1)
	background-color: white
	width: 100%
	height: 3.5rem
	margin-bottom: 1.25rem
.objective
	border-radius: 2px
	padding: 0 1rem
	margin-bottom: 1rem
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	width: 100%
	height: 100%							
.objective-title
	font-size: 1rem
	width: 100%
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	max-width: 90%
	min-width: 50%
.section-objective:last-child
	margin-bottom: 0
.section-container
	width: 100%
	border-bottom: 0.125rem solid #f3f3f3
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	margin-bottom: 1.5rem
	padding-bottom: 0.5rem
.list-font
	font-size: 1rem
.xp-title
	width: 70%
#showLevel
	width: 100%
#showSection
	width: calc(100% - 3.125rem)
	right: -100%
	.list
		background: none
.objective-completed
	color: $markGreen !important
.skipped
	background-color: #d8d8d8
	color: white
.block
	color: #d8d8d8 !important
	pointer-events: none !important
.baseline
	align-items: baseline !important
.locked
	background-color: #d8d8d8 !important
	color: white !important
.completed
	background-color: $markGreen !important
	color: white !important
.active
	background-color: $darkBlue !important
	color: white !important
.slash
	color: $lightBlue
	margin: 0 2px
.invisible
    display: none !important
#showLevel
	.list
		filter: drop-shadow(0px 1px 4px #f1f1f1)
.pointer
	cursor: pointer
.disable-pointer-events
	pointer-events: none
// .container
// 	width: 100vw
// 	height: 100vh
// 	position: relative
@media only screen and (max-width: $breakpoint-tablet-width)
	#xp
		.label
				font-size: 1rem
	.main
		width:  100%
		padding-right: 0
		padding-left: 1rem
		padding-bottom: 4rem
	.list
		width: 100%
	.listContainer
		padding-right: 0
	#showSection
		bottom: -100vh
		right: 0
		width: 100%
		flex: 0 0 auto
		height: calc(100% - 50px - 120px)
		.objective-title
			font-size: 1.15rem
	.sidebar-transition
		right: 0 !important
		bottom: 0 !important
	.framework-title
		font-size: 1.25rem
	.xp-title
		.value
			font-size: 1.25rem
	.country-title
		display: none
	.title-bar .rightbox
	  .badge-wrapper
	    width: 0
	    display: none
	  .xp-title
	    width: 100%
	    justify-content: center
	.title-bar
		justify-content: center 
		.title 
			font-size: 1.25rem 
		.label 
			font-size: 1rem 
		.value 
			font-size: 1.25rem 
		.leftbox 
			display: none 
	.list
		.list-font
			font-size: 1.15rem
		.label , .value , .xp
			display: none
		.badge-wrapper
			width: 100%
			justify-content: flex-end
	.splash
		padding: 1rem
	.splash-description
		color: $glimpse
	.stat-container
		display: none
	.listContainer
	 	padding: 0