@import _navbar_lip
@import _splash
@import _loader
@import _error
@import _input
@import _sidebar
@import _scrollbar
@import _media
@import _mixinMaster
@import _template
@import _mixinMaster
#addbasic
  left: 0
  width: 100vw
#level-up-option
  display: none !important
.name-kn_code
  visibility: hidden !important
.mainContainer
  display: flex
  flex-direction: row
  width: 100%
  height: 100%
.mainContent
  display: flex
  flex-direction: row
  background-color: white
  width: 75%
.container
  height: 100%
  width: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  width: 100% 
.listOfPresent
  width: 100%
  padding: 2rem
  padding-right: 3.75rem
  display: flex
  flex-direction: row
  justify-content: center
  align-items: flex-start
  height: 100%
  overflow-y: auto
.form
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  min-height: 100%
  width: 75%
.user-input-wrp
  width: 100%
i
  cursor: pointer
@media only screen and (max-width: $breakpoint-logo-hide)
  .mainContent
    width: 100%
