@import _navbar_lip
@import _splash
@import _loader
@import _error
@import _input
@import _sidebar
@import _scrollbar
@import _media
@import _mixinMaster
@import _template
@import _mixinMaster
img
	user-select: none
body
	font-family: $bodyFont
	margin: 0
	padding: 0
	width: 100vw
	height: 100vh
	display: flex
	background-color: white
	justify-content: flex-start
	align-items: flex-start
	flex-direction: column
	overflow: hidden
.navbar
	box-shadow: 0px 0.25rem 0.625rem 0px rgba(0, 0, 0, 0.17)
.mainScreen
	width: 100vw
	height: 100vh
	display: none
	flex-direction: column
	justify-content: center
	align-items: center
.display
	display: flex
.login-screen
	display: flex
	width: 100%
	height: 100%
	justify-content: center
	align-items: center
	background-color: white
	z-index: 25
	.display
		display: flex
	.left
		box-sizing: border-box
		flex-direction: center
		padding: $padding
		text-align: center
		width: 100%
		font-weight: bold
		height: 100%
		// background-color: #e3eff5
		background-size: cover
		background-position: center
		background-image: url("../image/indexbg2.jpg")
		color: white
		flex-direction: center
		display: flex
		justify-content: center
		align-items: center
		+transition(2s)
		flex-wrap: wrap
		.left-text
			color: #002b55
			display: flex
			justify-content: center
			align-items: center
			width: calc(100% - 10px)
			height: 100%

	.back
		display: none
	.forgotLink , .newLink , .back
		margin-top: 25px
		font-size: 0.5em
		text-align: left
		font-weight: 400
	.triangle
		box-sizing: border-box
		width: 0
		height: 0
		border-left: 20px solid transparent
		border-right: 20px solid white
		border-top:	20px solid transparent
		border-bottom: 20px solid transparent
	.title
		margin-bottom: 20px
		width: 100%
		text-align: left
		+transition(2s)
	.arrow-container
		display: flex
		width: 5px
		height: 100%
		justify-content: center
		align-items: center
	.formcontainer
		width: calc(50% - 40px)
		background-color: white
		display: flex
		flex-direction: column
		justify-content: center
		padding: 0px 2rem
		align-items: flex-start
		font-size: 2em

	#passwordDiv
		margin: 0
.gsuccess
    background-color: #4caf50
.gerror
    background-color: #ff4d4d
@media all and (max-width: $breakpoint-tablet-width)
	.login-screen
		.formcontainer
			width: 100%
			padding: 0 1rem
		.left
			display: none