@import _navbar_lip
@import _splash
@import _loader
@import _error
@import _input
@import _sidebar
@import _scrollbar
@import _media
@import _mixinMaster
@import _template
@import _mixinMaster
.sidebar
  height: calc(100% - 4.875rem)

.mainContainer
  display: flex
  flex-direction: row
  width: 100%
  height: 100%
button
  text-transform: uppercase
  cursor: pointer
  width: 100%
  min-height: 3.125rem
  border: 0.125rem $darkBlue solid
  background-color: white
  color: $glimpse
  size: 1.5em
  margin: 0.625rem 0
#addbasic
  .mainContent
    display: flex
    flex-direction: row
    background-color: white
    width: 75%
  .listOfPresent
    width: 100%
    padding: 2rem
    padding-right: 3.75rem
    display: flex
    flex-direction: row
    justify-content: center
    align-items: flex-start
    height: 100%
    overflow-y: auto
  .form
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    min-height: 100%
    width: 75%
  .user-input-wrp
    width: 100%
#addOption
  right: -100vw
  width: calc(100vw - 3.125rem)  
  .error
    display: flex
    width: 100%
    height: 0.625rem
    margin: -0.09rem 0 1.125rem 0
    // font-weight: 400
    font-size: 0.8125rem
    color: $errorRed
  .form
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    max-height: 100%
    width: 100%
    padding: 0 1rem
  .mainContent
    display: flex
    flex-direction: row
    background-color: white
    width: 100%
  .list
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    box-shadow: 0 0.0625rem 0.5rem 0rem #aaa
    margin-right: 1.25rem
    color: white
    font-family: $bodyFont
    height: 3.625rem
    margin: 0 0 1.25rem 0rem
    color: $glimpse
    width: 100%
    cursor: pointer
    background-color: white
    flex: 0 0 auto
  .listLabel
    display: flex
    align-items: center
    justify-content: flex-start
    width: calc(100% - 7rem)
    height: 100%
    padding-left: 1rem
  .icon
    content: '\f00c'
    width: 3.125rem
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    color: white
  .mark
      content: '\f058'
      color: white
      min-height: 3.5rem
      cursor: pointer
      min-width: 3.5rem
      background-color: $lightBlue
      font-size: 1.2rem
  .selected
    background-color: $currentBlue
  .currentElement
    background-color: $currentBlue
    color: white
  .freeze
    color: #aaa
    user-select: none
    pointer-events: none
  i
    cursor: pointer
.error
  display: flex
  width: 100%
  height: 0.625rem
  margin: -0.09rem 0 1.125rem 0
  font-weight: 400
  font-size: 0.8125rem
  color: $errorRed
#addbasic
  left: 0
  width: 100vw
.container
  height: 100%
  width: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  width: 100%
  padding-right: 5px
#selectCountry
  .listOfPresent
    width: 100%

  .arrowContainer
    background-color: $backgroundBlue
  .right-arrow
    border-color: transparent transparent transparent #891701
#selectFramework
  .container
    background-color: $backgroundBlue
  .listOfPresent
    width: 100%
    display: flex
  .arrowContainer
    background-color: white
  .right-arrow
    border-color: transparent transparent transparent #891701
#selectLevel
  .listOfPresent
    width: 100%
    display: flex
.colContainer
  width: 100%
  height: 100%
  display: flex
@media all and (max-width: $breakpoint-logo-hide)
  .mainContent
    width: 100%
  .colContainer
    flex-direction: column
  .col1 , .col2
      height: 100%
