@import _navbar_lip
@import _splash
@import _loader
@import _error
@import _input
@import _sidebar
@import _scrollbar
@import _media
@import _mixinMaster
@import _template
@import _mixinmaster
.splash
	background-image: url("../image/blue1.jpg")
	background-position-x: right
	background-repeat: no-repeat;
	display: flex
	flex-direction: column
	padding: 2rem
	width: 100vw
	height: 100vh
	position: absolute
	justify-content: center
	.wrapper
		filter: none !important
		box-shadow: none
.siteContent
	display: none
.splash-head
	font-size: 3rem
	color: $darkBlue
.splash-body
	margin: 0 0 5rem 0.25rem
.splash-description
	font-size: 1.15rem
	color: $lightBlue
	margin: 0 0 0 0.25rem
#removeSplash
	display: none
	position: absolute
	color: $darkBlue
	right: 2.183rem
	bottom: 2.183rem
	font-size: 2.5rem
	cursor: pointer