@import _navbar_lip
@import _splash
@import _loader
@import _error
@import _input
@import _sidebar
@import _scrollbar
@import _mixinMaster
@import _template
@import _mixinMaster
.mainContent
  display: flex
  justify-content: center
  flex-direction: row
  background-color: white
  width: 100%
// .title
//   width: 100%
//   padding: 1.25rem 0
//   text-align: left
//   font-size: 2rem
//   font-weight: 500
//   text-align: left
//   color: $darkBlue
//   padding-left: 0.3125rem
.title-bar
  flex: 0 0 auto
.listOfPresent
  display: flex
  flex-direction: row
  justify-content: center
  width: 100%
  // padding: 0.3125rem
  padding-top: 2rem
  padding-bottom: 2rem
  padding-right: 0.9375rem
  height: 100%
  overflow-y: auto
.list
  padding: 0 1rem
  display: flex
  flex: 0 0 auto
  flex-direction: row
  justify-content: space-between
  align-items: center
  border-radius: 2px
  background-color: white
  box-shadow: 0 0.0625rem 0.5rem 0rem #aaa
  margin-bottom: 1.75rem
  height: 3.625rem
  // width: 75%
  width: 100%
  color: $glimpse
  i
    font-size: 1.75rem
  // height: auto

  // display: flex
  // flex-direction: row
  

  
  // margin-right: 1.25rem
  // color: white
  // font-family: $bodyFont
  
  // margin: 0 0 1.25rem 0rem
  
  // width: 100%
  cursor: pointer
  // background-color: white
.listLabel
  display: flex
  align-items: center
  justify-content: flex-start
  width: 100%
  height: 100%
  padding-left: 1rem
.icon
  content: '\f00c'
  width: 3.125rem
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  // background-color: #aaa
  color: white
.mark
    content: '\f058'
    color: white
    min-height: 3.5rem
    cursor: pointer
    min-width: 3.5rem
    // background-color: $lightBlue
    font-size: 1.2rem
    color: $lightBlue
.selected
  color: $markGreen
.form
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  min-height: 100%
  width: 75%
  // padding: 0 0.4375rem
.formNav
    position: relative
    display: flex
    padding: 1.25rem 0
    justify-content: space-evenly
    flex-direction: row
    width: 100%
    border-bottom: 2px $backgroundBlue solid
    display: none
.navElement
    background-color: $backgroundBlue
    padding: 15px
    display: flex
    justify-content: center
    align-items: center
    z-index: 5
    // border: 2px solid orange
    font-size: 0.8125rem
    font-weight: 400
    width: 150px
    color: $darkBlue
.currentElement
    background-color: $currentBlue
    color: white
//FINALISED

.mainContainer
  display: flex
  flex-direction: row
  width: 100%
  height: 100%
.error
  display: flex
  width: 100%
  height: 0.625rem
  margin: -0.09rem 0 1.125rem 0
  font-weight: 400
  font-size: 0.8125rem
  color: $errorRed

.freeze
  color: #aaa
  user-select: none
  pointer-events: none
i
  cursor: pointer

.container
  height: 100%
  width: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  width: 100%
  padding-right: 5px
.mainContent
  width: 35%
.colContainer
  width: 75%
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
#addLevel
  .list
    width: calc(100%)
    height: 4rem
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    .rightbox
      height: 100%
      width: 40%
      display: flex
      flex-direction: row
      justify-content: flex-end
      align-items: center
      flex: 0 0 auto
      .xp
        width: 50%
        display: flex
        flex-direction: row
        justify-content: flex-end
        align-items: baseline
    .label
      font-size: 0.75rem
      color: $lightBlue
      +overflow-ellipsis
    .value
      font-size: 1rem
      min-width: 50px
// #edit-option
//   display: none
#level-up-option
  display: none !important
#switch-option
  display: none
#addCountry
  right: 0
#addFramework
  right: -100%
  width: calc(100% - 3.125rem)
#addLevel
  right: -100%
  width: calc(100% - 2*3.125rem)

@media all and (max-width: $breakpoint-tablet-width)
  #addCountry
    right: 0
  #addFramework
    right: 0
    width: 100%
    bottom: -100%
    height: calc(100% - 50px - 120px)
  #addLevel
    right: 0
    width: 100%
    bottom: -100%
    height: calc(100% - 100px - 120px)
  .mainContent
    width: 100%
  .colContainer
    width: 100%
  .form
    width: 100%
  .listOfPresent
    padding-right: 0
@import _media
 