@import url(https://fonts.googleapis.com/css?family=Roboto);
/*!
 * Font Awesome Free 5.0.13 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: Font Awesome\ 5 Free;
  font-style: normal;
  font-weight: 400;
  src: url(./webfonts/fa-regular-4005a4618f029618cc2795c05fe53d57028.eot);
  src: url(./webfonts/fa-regular-4005a4618f029618cc2795c05fe53d57028.eot?#iefix) format("embedded-opentype"), url(./webfonts/fa-regular-400a3715c6fe264a51f1d9260b447ff46bc.woff2) format("woff2"), url(./webfonts/fa-regular-400e99569d3d10c94c60d9a68523c1c0e71.woff) format("woff"), url(./webfonts/fa-regular-4006534c603e0892488132ad57248ec69e2.ttf) format("truetype"), url(./images/fa-regular-400405334fb5a37cb6c37f7c70c50d84d4a.svg#fontawesome) format("svg"); }

@font-face {
  font-family: Font Awesome\ 5 Brands;
  font-style: normal;
  font-weight: 400;
  src: url(./webfonts/fa-brands-400e2a76403183eff8967cf6318c6e51509.eot);
  src: url(./webfonts/fa-brands-400e2a76403183eff8967cf6318c6e51509.eot?#iefix) format("embedded-opentype"), url(./webfonts/fa-brands-400f319eac1c755f9929fd856720ce1695e.woff2) format("woff2"), url(./webfonts/fa-brands-400d034c1b2ee84dd981ef2e637754a0b4f.woff) format("woff"), url(./webfonts/fa-brands-400e0fc4e5c719b4dc10c97fc111d7374e1.ttf) format("truetype"), url(./images/fa-brands-400ed875693fbd8af7feb7ecab26c85ee98.svg#fontawesome) format("svg"); }

@font-face {
  font-family: Font Awesome\ 5 Free;
  font-style: normal;
  font-weight: 900;
  src: url(./webfonts/fa-solid-900d9824d00712532d7697df68df16ae0d3.eot);
  src: url(./webfonts/fa-solid-900d9824d00712532d7697df68df16ae0d3.eot?#iefix) format("embedded-opentype"), url(./webfonts/fa-solid-90018d2347ab2a9f40ca2247cdb03303d84.woff2) format("woff2"), url(./webfonts/fa-solid-900128d2b0be23925e5cf36717ddc6f093b.woff) format("woff"), url(./webfonts/fa-solid-90000ddaede094b83270cadbfc1a907e8ca.ttf) format("truetype"), url(./images/fa-solid-900bb8fd590e55fa3d12d1639339c765005.svg#fontawesome) format("svg"); }

.fa,
.fab,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

.fa-lg {
  font-size: 1.33333em;
  line-height: .75em;
  vertical-align: -.0667em; }

.fa-xs {
  font-size: .75em; }

.fa-sm {
  font-size: .875em; }

.fa-1x {
  font-size: 1em; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-6x {
  font-size: 6em; }

.fa-7x {
  font-size: 7em; }

.fa-8x {
  font-size: 8em; }

.fa-9x {
  font-size: 9em; }

.fa-10x {
  font-size: 10em; }

.fa-fw {
  text-align: center;
  width: 1.25em; }

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0; }

.fa-ul > li {
  position: relative; }

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit; }

.fa-border {
  border: .08em solid #eee;
  border-radius: .1em;
  padding: .2em .25em .15em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left,
.fab.fa-pull-left,
.fal.fa-pull-left,
.far.fa-pull-left,
.fas.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right,
.fab.fa-pull-right,
.fal.fa-pull-right,
.far.fa-pull-right,
.fas.fa-pull-right {
  margin-left: .3em; }

.fa-spin {
  animation: a 2s infinite linear; }

.fa-pulse {
  animation: a 1s infinite steps(8); }

@keyframes a {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(1turn); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  transform: scaleX(-1); }

.fa-flip-vertical {
  transform: scaleY(-1); }

.fa-flip-horizontal.fa-flip-vertical,
.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)"; }

.fa-flip-horizontal.fa-flip-vertical {
  transform: scale(-1); }

:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270 {
  -webkit-filter: none;
  filter: none; }

.fa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em; }

.fa-stack-1x,
.fa-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

.fa-500px:before {
  content: "\F26E"; }

.fa-accessible-icon:before {
  content: "\F368"; }

.fa-accusoft:before {
  content: "\F369"; }

.fa-address-book:before {
  content: "\F2B9"; }

.fa-address-card:before {
  content: "\F2BB"; }

.fa-adjust:before {
  content: "\F042"; }

.fa-adn:before {
  content: "\F170"; }

.fa-adversal:before {
  content: "\F36A"; }

.fa-affiliatetheme:before {
  content: "\F36B"; }

.fa-algolia:before {
  content: "\F36C"; }

.fa-align-center:before {
  content: "\F037"; }

.fa-align-justify:before {
  content: "\F039"; }

.fa-align-left:before {
  content: "\F036"; }

.fa-align-right:before {
  content: "\F038"; }

.fa-allergies:before {
  content: "\F461"; }

.fa-amazon:before {
  content: "\F270"; }

.fa-amazon-pay:before {
  content: "\F42C"; }

.fa-ambulance:before {
  content: "\F0F9"; }

.fa-american-sign-language-interpreting:before {
  content: "\F2A3"; }

.fa-amilia:before {
  content: "\F36D"; }

.fa-anchor:before {
  content: "\F13D"; }

.fa-android:before {
  content: "\F17B"; }

.fa-angellist:before {
  content: "\F209"; }

.fa-angle-double-down:before {
  content: "\F103"; }

.fa-angle-double-left:before {
  content: "\F100"; }

.fa-angle-double-right:before {
  content: "\F101"; }

.fa-angle-double-up:before {
  content: "\F102"; }

.fa-angle-down:before {
  content: "\F107"; }

.fa-angle-left:before {
  content: "\F104"; }

.fa-angle-right:before {
  content: "\F105"; }

.fa-angle-up:before {
  content: "\F106"; }

.fa-angrycreative:before {
  content: "\F36E"; }

.fa-angular:before {
  content: "\F420"; }

.fa-app-store:before {
  content: "\F36F"; }

.fa-app-store-ios:before {
  content: "\F370"; }

.fa-apper:before {
  content: "\F371"; }

.fa-apple:before {
  content: "\F179"; }

.fa-apple-pay:before {
  content: "\F415"; }

.fa-archive:before {
  content: "\F187"; }

.fa-arrow-alt-circle-down:before {
  content: "\F358"; }

.fa-arrow-alt-circle-left:before {
  content: "\F359"; }

.fa-arrow-alt-circle-right:before {
  content: "\F35A"; }

.fa-arrow-alt-circle-up:before {
  content: "\F35B"; }

.fa-arrow-circle-down:before {
  content: "\F0AB"; }

.fa-arrow-circle-left:before {
  content: "\F0A8"; }

.fa-arrow-circle-right:before {
  content: "\F0A9"; }

.fa-arrow-circle-up:before {
  content: "\F0AA"; }

.fa-arrow-down:before {
  content: "\F063"; }

.fa-arrow-left:before {
  content: "\F060"; }

.fa-arrow-right:before {
  content: "\F061"; }

.fa-arrow-up:before {
  content: "\F062"; }

.fa-arrows-alt:before {
  content: "\F0B2"; }

.fa-arrows-alt-h:before {
  content: "\F337"; }

.fa-arrows-alt-v:before {
  content: "\F338"; }

.fa-assistive-listening-systems:before {
  content: "\F2A2"; }

.fa-asterisk:before {
  content: "\F069"; }

.fa-asymmetrik:before {
  content: "\F372"; }

.fa-at:before {
  content: "\F1FA"; }

.fa-audible:before {
  content: "\F373"; }

.fa-audio-description:before {
  content: "\F29E"; }

.fa-autoprefixer:before {
  content: "\F41C"; }

.fa-avianex:before {
  content: "\F374"; }

.fa-aviato:before {
  content: "\F421"; }

.fa-aws:before {
  content: "\F375"; }

.fa-backward:before {
  content: "\F04A"; }

.fa-balance-scale:before {
  content: "\F24E"; }

.fa-ban:before {
  content: "\F05E"; }

.fa-band-aid:before {
  content: "\F462"; }

.fa-bandcamp:before {
  content: "\F2D5"; }

.fa-barcode:before {
  content: "\F02A"; }

.fa-bars:before {
  content: "\F0C9"; }

.fa-baseball-ball:before {
  content: "\F433"; }

.fa-basketball-ball:before {
  content: "\F434"; }

.fa-bath:before {
  content: "\F2CD"; }

.fa-battery-empty:before {
  content: "\F244"; }

.fa-battery-full:before {
  content: "\F240"; }

.fa-battery-half:before {
  content: "\F242"; }

.fa-battery-quarter:before {
  content: "\F243"; }

.fa-battery-three-quarters:before {
  content: "\F241"; }

.fa-bed:before {
  content: "\F236"; }

.fa-beer:before {
  content: "\F0FC"; }

.fa-behance:before {
  content: "\F1B4"; }

.fa-behance-square:before {
  content: "\F1B5"; }

.fa-bell:before {
  content: "\F0F3"; }

.fa-bell-slash:before {
  content: "\F1F6"; }

.fa-bicycle:before {
  content: "\F206"; }

.fa-bimobject:before {
  content: "\F378"; }

.fa-binoculars:before {
  content: "\F1E5"; }

.fa-birthday-cake:before {
  content: "\F1FD"; }

.fa-bitbucket:before {
  content: "\F171"; }

.fa-bitcoin:before {
  content: "\F379"; }

.fa-bity:before {
  content: "\F37A"; }

.fa-black-tie:before {
  content: "\F27E"; }

.fa-blackberry:before {
  content: "\F37B"; }

.fa-blender:before {
  content: "\F517"; }

.fa-blind:before {
  content: "\F29D"; }

.fa-blogger:before {
  content: "\F37C"; }

.fa-blogger-b:before {
  content: "\F37D"; }

.fa-bluetooth:before {
  content: "\F293"; }

.fa-bluetooth-b:before {
  content: "\F294"; }

.fa-bold:before {
  content: "\F032"; }

.fa-bolt:before {
  content: "\F0E7"; }

.fa-bomb:before {
  content: "\F1E2"; }

.fa-book:before {
  content: "\F02D"; }

.fa-book-open:before {
  content: "\F518"; }

.fa-bookmark:before {
  content: "\F02E"; }

.fa-bowling-ball:before {
  content: "\F436"; }

.fa-box:before {
  content: "\F466"; }

.fa-box-open:before {
  content: "\F49E"; }

.fa-boxes:before {
  content: "\F468"; }

.fa-braille:before {
  content: "\F2A1"; }

.fa-briefcase:before {
  content: "\F0B1"; }

.fa-briefcase-medical:before {
  content: "\F469"; }

.fa-broadcast-tower:before {
  content: "\F519"; }

.fa-broom:before {
  content: "\F51A"; }

.fa-btc:before {
  content: "\F15A"; }

.fa-bug:before {
  content: "\F188"; }

.fa-building:before {
  content: "\F1AD"; }

.fa-bullhorn:before {
  content: "\F0A1"; }

.fa-bullseye:before {
  content: "\F140"; }

.fa-burn:before {
  content: "\F46A"; }

.fa-buromobelexperte:before {
  content: "\F37F"; }

.fa-bus:before {
  content: "\F207"; }

.fa-buysellads:before {
  content: "\F20D"; }

.fa-calculator:before {
  content: "\F1EC"; }

.fa-calendar:before {
  content: "\F133"; }

.fa-calendar-alt:before {
  content: "\F073"; }

.fa-calendar-check:before {
  content: "\F274"; }

.fa-calendar-minus:before {
  content: "\F272"; }

.fa-calendar-plus:before {
  content: "\F271"; }

.fa-calendar-times:before {
  content: "\F273"; }

.fa-camera:before {
  content: "\F030"; }

.fa-camera-retro:before {
  content: "\F083"; }

.fa-capsules:before {
  content: "\F46B"; }

.fa-car:before {
  content: "\F1B9"; }

.fa-caret-down:before {
  content: "\F0D7"; }

.fa-caret-left:before {
  content: "\F0D9"; }

.fa-caret-right:before {
  content: "\F0DA"; }

.fa-caret-square-down:before {
  content: "\F150"; }

.fa-caret-square-left:before {
  content: "\F191"; }

.fa-caret-square-right:before {
  content: "\F152"; }

.fa-caret-square-up:before {
  content: "\F151"; }

.fa-caret-up:before {
  content: "\F0D8"; }

.fa-cart-arrow-down:before {
  content: "\F218"; }

.fa-cart-plus:before {
  content: "\F217"; }

.fa-cc-amazon-pay:before {
  content: "\F42D"; }

.fa-cc-amex:before {
  content: "\F1F3"; }

.fa-cc-apple-pay:before {
  content: "\F416"; }

.fa-cc-diners-club:before {
  content: "\F24C"; }

.fa-cc-discover:before {
  content: "\F1F2"; }

.fa-cc-jcb:before {
  content: "\F24B"; }

.fa-cc-mastercard:before {
  content: "\F1F1"; }

.fa-cc-paypal:before {
  content: "\F1F4"; }

.fa-cc-stripe:before {
  content: "\F1F5"; }

.fa-cc-visa:before {
  content: "\F1F0"; }

.fa-centercode:before {
  content: "\F380"; }

.fa-certificate:before {
  content: "\F0A3"; }

.fa-chalkboard:before {
  content: "\F51B"; }

.fa-chalkboard-teacher:before {
  content: "\F51C"; }

.fa-chart-area:before {
  content: "\F1FE"; }

.fa-chart-bar:before {
  content: "\F080"; }

.fa-chart-line:before {
  content: "\F201"; }

.fa-chart-pie:before {
  content: "\F200"; }

.fa-check:before {
  content: "\F00C"; }

.fa-check-circle:before {
  content: "\F058"; }

.fa-check-square:before {
  content: "\F14A"; }

.fa-chess:before {
  content: "\F439"; }

.fa-chess-bishop:before {
  content: "\F43A"; }

.fa-chess-board:before {
  content: "\F43C"; }

.fa-chess-king:before {
  content: "\F43F"; }

.fa-chess-knight:before {
  content: "\F441"; }

.fa-chess-pawn:before {
  content: "\F443"; }

.fa-chess-queen:before {
  content: "\F445"; }

.fa-chess-rook:before {
  content: "\F447"; }

.fa-chevron-circle-down:before {
  content: "\F13A"; }

.fa-chevron-circle-left:before {
  content: "\F137"; }

.fa-chevron-circle-right:before {
  content: "\F138"; }

.fa-chevron-circle-up:before {
  content: "\F139"; }

.fa-chevron-down:before {
  content: "\F078"; }

.fa-chevron-left:before {
  content: "\F053"; }

.fa-chevron-right:before {
  content: "\F054"; }

.fa-chevron-up:before {
  content: "\F077"; }

.fa-child:before {
  content: "\F1AE"; }

.fa-chrome:before {
  content: "\F268"; }

.fa-church:before {
  content: "\F51D"; }

.fa-circle:before {
  content: "\F111"; }

.fa-circle-notch:before {
  content: "\F1CE"; }

.fa-clipboard:before {
  content: "\F328"; }

.fa-clipboard-check:before {
  content: "\F46C"; }

.fa-clipboard-list:before {
  content: "\F46D"; }

.fa-clock:before {
  content: "\F017"; }

.fa-clone:before {
  content: "\F24D"; }

.fa-closed-captioning:before {
  content: "\F20A"; }

.fa-cloud:before {
  content: "\F0C2"; }

.fa-cloud-download-alt:before {
  content: "\F381"; }

.fa-cloud-upload-alt:before {
  content: "\F382"; }

.fa-cloudscale:before {
  content: "\F383"; }

.fa-cloudsmith:before {
  content: "\F384"; }

.fa-cloudversify:before {
  content: "\F385"; }

.fa-code:before {
  content: "\F121"; }

.fa-code-branch:before {
  content: "\F126"; }

.fa-codepen:before {
  content: "\F1CB"; }

.fa-codiepie:before {
  content: "\F284"; }

.fa-coffee:before {
  content: "\F0F4"; }

.fa-cog:before {
  content: "\F013"; }

.fa-cogs:before {
  content: "\F085"; }

.fa-coins:before {
  content: "\F51E"; }

.fa-columns:before {
  content: "\F0DB"; }

.fa-comment:before {
  content: "\F075"; }

.fa-comment-alt:before {
  content: "\F27A"; }

.fa-comment-dots:before {
  content: "\F4AD"; }

.fa-comment-slash:before {
  content: "\F4B3"; }

.fa-comments:before {
  content: "\F086"; }

.fa-compact-disc:before {
  content: "\F51F"; }

.fa-compass:before {
  content: "\F14E"; }

.fa-compress:before {
  content: "\F066"; }

.fa-connectdevelop:before {
  content: "\F20E"; }

.fa-contao:before {
  content: "\F26D"; }

.fa-copy:before {
  content: "\F0C5"; }

.fa-copyright:before {
  content: "\F1F9"; }

.fa-couch:before {
  content: "\F4B8"; }

.fa-cpanel:before {
  content: "\F388"; }

.fa-creative-commons:before {
  content: "\F25E"; }

.fa-creative-commons-by:before {
  content: "\F4E7"; }

.fa-creative-commons-nc:before {
  content: "\F4E8"; }

.fa-creative-commons-nc-eu:before {
  content: "\F4E9"; }

.fa-creative-commons-nc-jp:before {
  content: "\F4EA"; }

.fa-creative-commons-nd:before {
  content: "\F4EB"; }

.fa-creative-commons-pd:before {
  content: "\F4EC"; }

.fa-creative-commons-pd-alt:before {
  content: "\F4ED"; }

.fa-creative-commons-remix:before {
  content: "\F4EE"; }

.fa-creative-commons-sa:before {
  content: "\F4EF"; }

.fa-creative-commons-sampling:before {
  content: "\F4F0"; }

.fa-creative-commons-sampling-plus:before {
  content: "\F4F1"; }

.fa-creative-commons-share:before {
  content: "\F4F2"; }

.fa-credit-card:before {
  content: "\F09D"; }

.fa-crop:before {
  content: "\F125"; }

.fa-crosshairs:before {
  content: "\F05B"; }

.fa-crow:before {
  content: "\F520"; }

.fa-crown:before {
  content: "\F521"; }

.fa-css3:before {
  content: "\F13C"; }

.fa-css3-alt:before {
  content: "\F38B"; }

.fa-cube:before {
  content: "\F1B2"; }

.fa-cubes:before {
  content: "\F1B3"; }

.fa-cut:before {
  content: "\F0C4"; }

.fa-cuttlefish:before {
  content: "\F38C"; }

.fa-d-and-d:before {
  content: "\F38D"; }

.fa-dashcube:before {
  content: "\F210"; }

.fa-database:before {
  content: "\F1C0"; }

.fa-deaf:before {
  content: "\F2A4"; }

.fa-delicious:before {
  content: "\F1A5"; }

.fa-deploydog:before {
  content: "\F38E"; }

.fa-deskpro:before {
  content: "\F38F"; }

.fa-desktop:before {
  content: "\F108"; }

.fa-deviantart:before {
  content: "\F1BD"; }

.fa-diagnoses:before {
  content: "\F470"; }

.fa-dice:before {
  content: "\F522"; }

.fa-dice-five:before {
  content: "\F523"; }

.fa-dice-four:before {
  content: "\F524"; }

.fa-dice-one:before {
  content: "\F525"; }

.fa-dice-six:before {
  content: "\F526"; }

.fa-dice-three:before {
  content: "\F527"; }

.fa-dice-two:before {
  content: "\F528"; }

.fa-digg:before {
  content: "\F1A6"; }

.fa-digital-ocean:before {
  content: "\F391"; }

.fa-discord:before {
  content: "\F392"; }

.fa-discourse:before {
  content: "\F393"; }

.fa-divide:before {
  content: "\F529"; }

.fa-dna:before {
  content: "\F471"; }

.fa-dochub:before {
  content: "\F394"; }

.fa-docker:before {
  content: "\F395"; }

.fa-dollar-sign:before {
  content: "\F155"; }

.fa-dolly:before {
  content: "\F472"; }

.fa-dolly-flatbed:before {
  content: "\F474"; }

.fa-donate:before {
  content: "\F4B9"; }

.fa-door-closed:before {
  content: "\F52A"; }

.fa-door-open:before {
  content: "\F52B"; }

.fa-dot-circle:before {
  content: "\F192"; }

.fa-dove:before {
  content: "\F4BA"; }

.fa-download:before {
  content: "\F019"; }

.fa-draft2digital:before {
  content: "\F396"; }

.fa-dribbble:before {
  content: "\F17D"; }

.fa-dribbble-square:before {
  content: "\F397"; }

.fa-dropbox:before {
  content: "\F16B"; }

.fa-drupal:before {
  content: "\F1A9"; }

.fa-dumbbell:before {
  content: "\F44B"; }

.fa-dyalog:before {
  content: "\F399"; }

.fa-earlybirds:before {
  content: "\F39A"; }

.fa-ebay:before {
  content: "\F4F4"; }

.fa-edge:before {
  content: "\F282"; }

.fa-edit:before {
  content: "\F044"; }

.fa-eject:before {
  content: "\F052"; }

.fa-elementor:before {
  content: "\F430"; }

.fa-ellipsis-h:before {
  content: "\F141"; }

.fa-ellipsis-v:before {
  content: "\F142"; }

.fa-ember:before {
  content: "\F423"; }

.fa-empire:before {
  content: "\F1D1"; }

.fa-envelope:before {
  content: "\F0E0"; }

.fa-envelope-open:before {
  content: "\F2B6"; }

.fa-envelope-square:before {
  content: "\F199"; }

.fa-envira:before {
  content: "\F299"; }

.fa-equals:before {
  content: "\F52C"; }

.fa-eraser:before {
  content: "\F12D"; }

.fa-erlang:before {
  content: "\F39D"; }

.fa-ethereum:before {
  content: "\F42E"; }

.fa-etsy:before {
  content: "\F2D7"; }

.fa-euro-sign:before {
  content: "\F153"; }

.fa-exchange-alt:before {
  content: "\F362"; }

.fa-exclamation:before {
  content: "\F12A"; }

.fa-exclamation-circle:before {
  content: "\F06A"; }

.fa-exclamation-triangle:before {
  content: "\F071"; }

.fa-expand:before {
  content: "\F065"; }

.fa-expand-arrows-alt:before {
  content: "\F31E"; }

.fa-expeditedssl:before {
  content: "\F23E"; }

.fa-external-link-alt:before {
  content: "\F35D"; }

.fa-external-link-square-alt:before {
  content: "\F360"; }

.fa-eye:before {
  content: "\F06E"; }

.fa-eye-dropper:before {
  content: "\F1FB"; }

.fa-eye-slash:before {
  content: "\F070"; }

.fa-facebook:before {
  content: "\F09A"; }

.fa-facebook-f:before {
  content: "\F39E"; }

.fa-facebook-messenger:before {
  content: "\F39F"; }

.fa-facebook-square:before {
  content: "\F082"; }

.fa-fast-backward:before {
  content: "\F049"; }

.fa-fast-forward:before {
  content: "\F050"; }

.fa-fax:before {
  content: "\F1AC"; }

.fa-feather:before {
  content: "\F52D"; }

.fa-female:before {
  content: "\F182"; }

.fa-fighter-jet:before {
  content: "\F0FB"; }

.fa-file:before {
  content: "\F15B"; }

.fa-file-alt:before {
  content: "\F15C"; }

.fa-file-archive:before {
  content: "\F1C6"; }

.fa-file-audio:before {
  content: "\F1C7"; }

.fa-file-code:before {
  content: "\F1C9"; }

.fa-file-excel:before {
  content: "\F1C3"; }

.fa-file-image:before {
  content: "\F1C5"; }

.fa-file-medical:before {
  content: "\F477"; }

.fa-file-medical-alt:before {
  content: "\F478"; }

.fa-file-pdf:before {
  content: "\F1C1"; }

.fa-file-powerpoint:before {
  content: "\F1C4"; }

.fa-file-video:before {
  content: "\F1C8"; }

.fa-file-word:before {
  content: "\F1C2"; }

.fa-film:before {
  content: "\F008"; }

.fa-filter:before {
  content: "\F0B0"; }

.fa-fire:before {
  content: "\F06D"; }

.fa-fire-extinguisher:before {
  content: "\F134"; }

.fa-firefox:before {
  content: "\F269"; }

.fa-first-aid:before {
  content: "\F479"; }

.fa-first-order:before {
  content: "\F2B0"; }

.fa-first-order-alt:before {
  content: "\F50A"; }

.fa-firstdraft:before {
  content: "\F3A1"; }

.fa-flag:before {
  content: "\F024"; }

.fa-flag-checkered:before {
  content: "\F11E"; }

.fa-flask:before {
  content: "\F0C3"; }

.fa-flickr:before {
  content: "\F16E"; }

.fa-flipboard:before {
  content: "\F44D"; }

.fa-fly:before {
  content: "\F417"; }

.fa-folder:before {
  content: "\F07B"; }

.fa-folder-open:before {
  content: "\F07C"; }

.fa-font:before {
  content: "\F031"; }

.fa-font-awesome:before {
  content: "\F2B4"; }

.fa-font-awesome-alt:before {
  content: "\F35C"; }

.fa-font-awesome-flag:before {
  content: "\F425"; }

.fa-font-awesome-logo-full:before {
  content: "\F4E6"; }

.fa-fonticons:before {
  content: "\F280"; }

.fa-fonticons-fi:before {
  content: "\F3A2"; }

.fa-football-ball:before {
  content: "\F44E"; }

.fa-fort-awesome:before {
  content: "\F286"; }

.fa-fort-awesome-alt:before {
  content: "\F3A3"; }

.fa-forumbee:before {
  content: "\F211"; }

.fa-forward:before {
  content: "\F04E"; }

.fa-foursquare:before {
  content: "\F180"; }

.fa-free-code-camp:before {
  content: "\F2C5"; }

.fa-freebsd:before {
  content: "\F3A4"; }

.fa-frog:before {
  content: "\F52E"; }

.fa-frown:before {
  content: "\F119"; }

.fa-fulcrum:before {
  content: "\F50B"; }

.fa-futbol:before {
  content: "\F1E3"; }

.fa-galactic-republic:before {
  content: "\F50C"; }

.fa-galactic-senate:before {
  content: "\F50D"; }

.fa-gamepad:before {
  content: "\F11B"; }

.fa-gas-pump:before {
  content: "\F52F"; }

.fa-gavel:before {
  content: "\F0E3"; }

.fa-gem:before {
  content: "\F3A5"; }

.fa-genderless:before {
  content: "\F22D"; }

.fa-get-pocket:before {
  content: "\F265"; }

.fa-gg:before {
  content: "\F260"; }

.fa-gg-circle:before {
  content: "\F261"; }

.fa-gift:before {
  content: "\F06B"; }

.fa-git:before {
  content: "\F1D3"; }

.fa-git-square:before {
  content: "\F1D2"; }

.fa-github:before {
  content: "\F09B"; }

.fa-github-alt:before {
  content: "\F113"; }

.fa-github-square:before {
  content: "\F092"; }

.fa-gitkraken:before {
  content: "\F3A6"; }

.fa-gitlab:before {
  content: "\F296"; }

.fa-gitter:before {
  content: "\F426"; }

.fa-glass-martini:before {
  content: "\F000"; }

.fa-glasses:before {
  content: "\F530"; }

.fa-glide:before {
  content: "\F2A5"; }

.fa-glide-g:before {
  content: "\F2A6"; }

.fa-globe:before {
  content: "\F0AC"; }

.fa-gofore:before {
  content: "\F3A7"; }

.fa-golf-ball:before {
  content: "\F450"; }

.fa-goodreads:before {
  content: "\F3A8"; }

.fa-goodreads-g:before {
  content: "\F3A9"; }

.fa-google:before {
  content: "\F1A0"; }

.fa-google-drive:before {
  content: "\F3AA"; }

.fa-google-play:before {
  content: "\F3AB"; }

.fa-google-plus:before {
  content: "\F2B3"; }

.fa-google-plus-g:before {
  content: "\F0D5"; }

.fa-google-plus-square:before {
  content: "\F0D4"; }

.fa-google-wallet:before {
  content: "\F1EE"; }

.fa-graduation-cap:before {
  content: "\F19D"; }

.fa-gratipay:before {
  content: "\F184"; }

.fa-grav:before {
  content: "\F2D6"; }

.fa-greater-than:before {
  content: "\F531"; }

.fa-greater-than-equal:before {
  content: "\F532"; }

.fa-gripfire:before {
  content: "\F3AC"; }

.fa-grunt:before {
  content: "\F3AD"; }

.fa-gulp:before {
  content: "\F3AE"; }

.fa-h-square:before {
  content: "\F0FD"; }

.fa-hacker-news:before {
  content: "\F1D4"; }

.fa-hacker-news-square:before {
  content: "\F3AF"; }

.fa-hand-holding:before {
  content: "\F4BD"; }

.fa-hand-holding-heart:before {
  content: "\F4BE"; }

.fa-hand-holding-usd:before {
  content: "\F4C0"; }

.fa-hand-lizard:before {
  content: "\F258"; }

.fa-hand-paper:before {
  content: "\F256"; }

.fa-hand-peace:before {
  content: "\F25B"; }

.fa-hand-point-down:before {
  content: "\F0A7"; }

.fa-hand-point-left:before {
  content: "\F0A5"; }

.fa-hand-point-right:before {
  content: "\F0A4"; }

.fa-hand-point-up:before {
  content: "\F0A6"; }

.fa-hand-pointer:before {
  content: "\F25A"; }

.fa-hand-rock:before {
  content: "\F255"; }

.fa-hand-scissors:before {
  content: "\F257"; }

.fa-hand-spock:before {
  content: "\F259"; }

.fa-hands:before {
  content: "\F4C2"; }

.fa-hands-helping:before {
  content: "\F4C4"; }

.fa-handshake:before {
  content: "\F2B5"; }

.fa-hashtag:before {
  content: "\F292"; }

.fa-hdd:before {
  content: "\F0A0"; }

.fa-heading:before {
  content: "\F1DC"; }

.fa-headphones:before {
  content: "\F025"; }

.fa-heart:before {
  content: "\F004"; }

.fa-heartbeat:before {
  content: "\F21E"; }

.fa-helicopter:before {
  content: "\F533"; }

.fa-hips:before {
  content: "\F452"; }

.fa-hire-a-helper:before {
  content: "\F3B0"; }

.fa-history:before {
  content: "\F1DA"; }

.fa-hockey-puck:before {
  content: "\F453"; }

.fa-home:before {
  content: "\F015"; }

.fa-hooli:before {
  content: "\F427"; }

.fa-hospital:before {
  content: "\F0F8"; }

.fa-hospital-alt:before {
  content: "\F47D"; }

.fa-hospital-symbol:before {
  content: "\F47E"; }

.fa-hotjar:before {
  content: "\F3B1"; }

.fa-hourglass:before {
  content: "\F254"; }

.fa-hourglass-end:before {
  content: "\F253"; }

.fa-hourglass-half:before {
  content: "\F252"; }

.fa-hourglass-start:before {
  content: "\F251"; }

.fa-houzz:before {
  content: "\F27C"; }

.fa-html5:before {
  content: "\F13B"; }

.fa-hubspot:before {
  content: "\F3B2"; }

.fa-i-cursor:before {
  content: "\F246"; }

.fa-id-badge:before {
  content: "\F2C1"; }

.fa-id-card:before {
  content: "\F2C2"; }

.fa-id-card-alt:before {
  content: "\F47F"; }

.fa-image:before {
  content: "\F03E"; }

.fa-images:before {
  content: "\F302"; }

.fa-imdb:before {
  content: "\F2D8"; }

.fa-inbox:before {
  content: "\F01C"; }

.fa-indent:before {
  content: "\F03C"; }

.fa-industry:before {
  content: "\F275"; }

.fa-infinity:before {
  content: "\F534"; }

.fa-info:before {
  content: "\F129"; }

.fa-info-circle:before {
  content: "\F05A"; }

.fa-instagram:before {
  content: "\F16D"; }

.fa-internet-explorer:before {
  content: "\F26B"; }

.fa-ioxhost:before {
  content: "\F208"; }

.fa-italic:before {
  content: "\F033"; }

.fa-itunes:before {
  content: "\F3B4"; }

.fa-itunes-note:before {
  content: "\F3B5"; }

.fa-java:before {
  content: "\F4E4"; }

.fa-jedi-order:before {
  content: "\F50E"; }

.fa-jenkins:before {
  content: "\F3B6"; }

.fa-joget:before {
  content: "\F3B7"; }

.fa-joomla:before {
  content: "\F1AA"; }

.fa-js:before {
  content: "\F3B8"; }

.fa-js-square:before {
  content: "\F3B9"; }

.fa-jsfiddle:before {
  content: "\F1CC"; }

.fa-key:before {
  content: "\F084"; }

.fa-keybase:before {
  content: "\F4F5"; }

.fa-keyboard:before {
  content: "\F11C"; }

.fa-keycdn:before {
  content: "\F3BA"; }

.fa-kickstarter:before {
  content: "\F3BB"; }

.fa-kickstarter-k:before {
  content: "\F3BC"; }

.fa-kiwi-bird:before {
  content: "\F535"; }

.fa-korvue:before {
  content: "\F42F"; }

.fa-language:before {
  content: "\F1AB"; }

.fa-laptop:before {
  content: "\F109"; }

.fa-laravel:before {
  content: "\F3BD"; }

.fa-lastfm:before {
  content: "\F202"; }

.fa-lastfm-square:before {
  content: "\F203"; }

.fa-leaf:before {
  content: "\F06C"; }

.fa-leanpub:before {
  content: "\F212"; }

.fa-lemon:before {
  content: "\F094"; }

.fa-less:before {
  content: "\F41D"; }

.fa-less-than:before {
  content: "\F536"; }

.fa-less-than-equal:before {
  content: "\F537"; }

.fa-level-down-alt:before {
  content: "\F3BE"; }

.fa-level-up-alt:before {
  content: "\F3BF"; }

.fa-life-ring:before {
  content: "\F1CD"; }

.fa-lightbulb:before {
  content: "\F0EB"; }

.fa-line:before {
  content: "\F3C0"; }

.fa-link:before {
  content: "\F0C1"; }

.fa-linkedin:before {
  content: "\F08C"; }

.fa-linkedin-in:before {
  content: "\F0E1"; }

.fa-linode:before {
  content: "\F2B8"; }

.fa-linux:before {
  content: "\F17C"; }

.fa-lira-sign:before {
  content: "\F195"; }

.fa-list:before {
  content: "\F03A"; }

.fa-list-alt:before {
  content: "\F022"; }

.fa-list-ol:before {
  content: "\F0CB"; }

.fa-list-ul:before {
  content: "\F0CA"; }

.fa-location-arrow:before {
  content: "\F124"; }

.fa-lock:before {
  content: "\F023"; }

.fa-lock-open:before {
  content: "\F3C1"; }

.fa-long-arrow-alt-down:before {
  content: "\F309"; }

.fa-long-arrow-alt-left:before {
  content: "\F30A"; }

.fa-long-arrow-alt-right:before {
  content: "\F30B"; }

.fa-long-arrow-alt-up:before {
  content: "\F30C"; }

.fa-low-vision:before {
  content: "\F2A8"; }

.fa-lyft:before {
  content: "\F3C3"; }

.fa-magento:before {
  content: "\F3C4"; }

.fa-magic:before {
  content: "\F0D0"; }

.fa-magnet:before {
  content: "\F076"; }

.fa-male:before {
  content: "\F183"; }

.fa-mandalorian:before {
  content: "\F50F"; }

.fa-map:before {
  content: "\F279"; }

.fa-map-marker:before {
  content: "\F041"; }

.fa-map-marker-alt:before {
  content: "\F3C5"; }

.fa-map-pin:before {
  content: "\F276"; }

.fa-map-signs:before {
  content: "\F277"; }

.fa-mars:before {
  content: "\F222"; }

.fa-mars-double:before {
  content: "\F227"; }

.fa-mars-stroke:before {
  content: "\F229"; }

.fa-mars-stroke-h:before {
  content: "\F22B"; }

.fa-mars-stroke-v:before {
  content: "\F22A"; }

.fa-mastodon:before {
  content: "\F4F6"; }

.fa-maxcdn:before {
  content: "\F136"; }

.fa-medapps:before {
  content: "\F3C6"; }

.fa-medium:before {
  content: "\F23A"; }

.fa-medium-m:before {
  content: "\F3C7"; }

.fa-medkit:before {
  content: "\F0FA"; }

.fa-medrt:before {
  content: "\F3C8"; }

.fa-meetup:before {
  content: "\F2E0"; }

.fa-meh:before {
  content: "\F11A"; }

.fa-memory:before {
  content: "\F538"; }

.fa-mercury:before {
  content: "\F223"; }

.fa-microchip:before {
  content: "\F2DB"; }

.fa-microphone:before {
  content: "\F130"; }

.fa-microphone-alt:before {
  content: "\F3C9"; }

.fa-microphone-alt-slash:before {
  content: "\F539"; }

.fa-microphone-slash:before {
  content: "\F131"; }

.fa-microsoft:before {
  content: "\F3CA"; }

.fa-minus:before {
  content: "\F068"; }

.fa-minus-circle:before {
  content: "\F056"; }

.fa-minus-square:before {
  content: "\F146"; }

.fa-mix:before {
  content: "\F3CB"; }

.fa-mixcloud:before {
  content: "\F289"; }

.fa-mizuni:before {
  content: "\F3CC"; }

.fa-mobile:before {
  content: "\F10B"; }

.fa-mobile-alt:before {
  content: "\F3CD"; }

.fa-modx:before {
  content: "\F285"; }

.fa-monero:before {
  content: "\F3D0"; }

.fa-money-bill:before {
  content: "\F0D6"; }

.fa-money-bill-alt:before {
  content: "\F3D1"; }

.fa-money-bill-wave:before {
  content: "\F53A"; }

.fa-money-bill-wave-alt:before {
  content: "\F53B"; }

.fa-money-check:before {
  content: "\F53C"; }

.fa-money-check-alt:before {
  content: "\F53D"; }

.fa-moon:before {
  content: "\F186"; }

.fa-motorcycle:before {
  content: "\F21C"; }

.fa-mouse-pointer:before {
  content: "\F245"; }

.fa-music:before {
  content: "\F001"; }

.fa-napster:before {
  content: "\F3D2"; }

.fa-neuter:before {
  content: "\F22C"; }

.fa-newspaper:before {
  content: "\F1EA"; }

.fa-nintendo-switch:before {
  content: "\F418"; }

.fa-node:before {
  content: "\F419"; }

.fa-node-js:before {
  content: "\F3D3"; }

.fa-not-equal:before {
  content: "\F53E"; }

.fa-notes-medical:before {
  content: "\F481"; }

.fa-npm:before {
  content: "\F3D4"; }

.fa-ns8:before {
  content: "\F3D5"; }

.fa-nutritionix:before {
  content: "\F3D6"; }

.fa-object-group:before {
  content: "\F247"; }

.fa-object-ungroup:before {
  content: "\F248"; }

.fa-odnoklassniki:before {
  content: "\F263"; }

.fa-odnoklassniki-square:before {
  content: "\F264"; }

.fa-old-republic:before {
  content: "\F510"; }

.fa-opencart:before {
  content: "\F23D"; }

.fa-openid:before {
  content: "\F19B"; }

.fa-opera:before {
  content: "\F26A"; }

.fa-optin-monster:before {
  content: "\F23C"; }

.fa-osi:before {
  content: "\F41A"; }

.fa-outdent:before {
  content: "\F03B"; }

.fa-page4:before {
  content: "\F3D7"; }

.fa-pagelines:before {
  content: "\F18C"; }

.fa-paint-brush:before {
  content: "\F1FC"; }

.fa-palette:before {
  content: "\F53F"; }

.fa-palfed:before {
  content: "\F3D8"; }

.fa-pallet:before {
  content: "\F482"; }

.fa-paper-plane:before {
  content: "\F1D8"; }

.fa-paperclip:before {
  content: "\F0C6"; }

.fa-parachute-box:before {
  content: "\F4CD"; }

.fa-paragraph:before {
  content: "\F1DD"; }

.fa-parking:before {
  content: "\F540"; }

.fa-paste:before {
  content: "\F0EA"; }

.fa-patreon:before {
  content: "\F3D9"; }

.fa-pause:before {
  content: "\F04C"; }

.fa-pause-circle:before {
  content: "\F28B"; }

.fa-paw:before {
  content: "\F1B0"; }

.fa-paypal:before {
  content: "\F1ED"; }

.fa-pen-square:before {
  content: "\F14B"; }

.fa-pencil-alt:before {
  content: "\F303"; }

.fa-people-carry:before {
  content: "\F4CE"; }

.fa-percent:before {
  content: "\F295"; }

.fa-percentage:before {
  content: "\F541"; }

.fa-periscope:before {
  content: "\F3DA"; }

.fa-phabricator:before {
  content: "\F3DB"; }

.fa-phoenix-framework:before {
  content: "\F3DC"; }

.fa-phoenix-squadron:before {
  content: "\F511"; }

.fa-phone:before {
  content: "\F095"; }

.fa-phone-slash:before {
  content: "\F3DD"; }

.fa-phone-square:before {
  content: "\F098"; }

.fa-phone-volume:before {
  content: "\F2A0"; }

.fa-php:before {
  content: "\F457"; }

.fa-pied-piper:before {
  content: "\F2AE"; }

.fa-pied-piper-alt:before {
  content: "\F1A8"; }

.fa-pied-piper-hat:before {
  content: "\F4E5"; }

.fa-pied-piper-pp:before {
  content: "\F1A7"; }

.fa-piggy-bank:before {
  content: "\F4D3"; }

.fa-pills:before {
  content: "\F484"; }

.fa-pinterest:before {
  content: "\F0D2"; }

.fa-pinterest-p:before {
  content: "\F231"; }

.fa-pinterest-square:before {
  content: "\F0D3"; }

.fa-plane:before {
  content: "\F072"; }

.fa-play:before {
  content: "\F04B"; }

.fa-play-circle:before {
  content: "\F144"; }

.fa-playstation:before {
  content: "\F3DF"; }

.fa-plug:before {
  content: "\F1E6"; }

.fa-plus:before {
  content: "\F067"; }

.fa-plus-circle:before {
  content: "\F055"; }

.fa-plus-square:before {
  content: "\F0FE"; }

.fa-podcast:before {
  content: "\F2CE"; }

.fa-poo:before {
  content: "\F2FE"; }

.fa-portrait:before {
  content: "\F3E0"; }

.fa-pound-sign:before {
  content: "\F154"; }

.fa-power-off:before {
  content: "\F011"; }

.fa-prescription-bottle:before {
  content: "\F485"; }

.fa-prescription-bottle-alt:before {
  content: "\F486"; }

.fa-print:before {
  content: "\F02F"; }

.fa-procedures:before {
  content: "\F487"; }

.fa-product-hunt:before {
  content: "\F288"; }

.fa-project-diagram:before {
  content: "\F542"; }

.fa-pushed:before {
  content: "\F3E1"; }

.fa-puzzle-piece:before {
  content: "\F12E"; }

.fa-python:before {
  content: "\F3E2"; }

.fa-qq:before {
  content: "\F1D6"; }

.fa-qrcode:before {
  content: "\F029"; }

.fa-question:before {
  content: "\F128"; }

.fa-question-circle:before {
  content: "\F059"; }

.fa-quidditch:before {
  content: "\F458"; }

.fa-quinscape:before {
  content: "\F459"; }

.fa-quora:before {
  content: "\F2C4"; }

.fa-quote-left:before {
  content: "\F10D"; }

.fa-quote-right:before {
  content: "\F10E"; }

.fa-r-project:before {
  content: "\F4F7"; }

.fa-random:before {
  content: "\F074"; }

.fa-ravelry:before {
  content: "\F2D9"; }

.fa-react:before {
  content: "\F41B"; }

.fa-readme:before {
  content: "\F4D5"; }

.fa-rebel:before {
  content: "\F1D0"; }

.fa-receipt:before {
  content: "\F543"; }

.fa-recycle:before {
  content: "\F1B8"; }

.fa-red-river:before {
  content: "\F3E3"; }

.fa-reddit:before {
  content: "\F1A1"; }

.fa-reddit-alien:before {
  content: "\F281"; }

.fa-reddit-square:before {
  content: "\F1A2"; }

.fa-redo:before {
  content: "\F01E"; }

.fa-redo-alt:before {
  content: "\F2F9"; }

.fa-registered:before {
  content: "\F25D"; }

.fa-rendact:before {
  content: "\F3E4"; }

.fa-renren:before {
  content: "\F18B"; }

.fa-reply:before {
  content: "\F3E5"; }

.fa-reply-all:before {
  content: "\F122"; }

.fa-replyd:before {
  content: "\F3E6"; }

.fa-researchgate:before {
  content: "\F4F8"; }

.fa-resolving:before {
  content: "\F3E7"; }

.fa-retweet:before {
  content: "\F079"; }

.fa-ribbon:before {
  content: "\F4D6"; }

.fa-road:before {
  content: "\F018"; }

.fa-robot:before {
  content: "\F544"; }

.fa-rocket:before {
  content: "\F135"; }

.fa-rocketchat:before {
  content: "\F3E8"; }

.fa-rockrms:before {
  content: "\F3E9"; }

.fa-rss:before {
  content: "\F09E"; }

.fa-rss-square:before {
  content: "\F143"; }

.fa-ruble-sign:before {
  content: "\F158"; }

.fa-ruler:before {
  content: "\F545"; }

.fa-ruler-combined:before {
  content: "\F546"; }

.fa-ruler-horizontal:before {
  content: "\F547"; }

.fa-ruler-vertical:before {
  content: "\F548"; }

.fa-rupee-sign:before {
  content: "\F156"; }

.fa-safari:before {
  content: "\F267"; }

.fa-sass:before {
  content: "\F41E"; }

.fa-save:before {
  content: "\F0C7"; }

.fa-schlix:before {
  content: "\F3EA"; }

.fa-school:before {
  content: "\F549"; }

.fa-screwdriver:before {
  content: "\F54A"; }

.fa-scribd:before {
  content: "\F28A"; }

.fa-search:before {
  content: "\F002"; }

.fa-search-minus:before {
  content: "\F010"; }

.fa-search-plus:before {
  content: "\F00E"; }

.fa-searchengin:before {
  content: "\F3EB"; }

.fa-seedling:before {
  content: "\F4D8"; }

.fa-sellcast:before {
  content: "\F2DA"; }

.fa-sellsy:before {
  content: "\F213"; }

.fa-server:before {
  content: "\F233"; }

.fa-servicestack:before {
  content: "\F3EC"; }

.fa-share:before {
  content: "\F064"; }

.fa-share-alt:before {
  content: "\F1E0"; }

.fa-share-alt-square:before {
  content: "\F1E1"; }

.fa-share-square:before {
  content: "\F14D"; }

.fa-shekel-sign:before {
  content: "\F20B"; }

.fa-shield-alt:before {
  content: "\F3ED"; }

.fa-ship:before {
  content: "\F21A"; }

.fa-shipping-fast:before {
  content: "\F48B"; }

.fa-shirtsinbulk:before {
  content: "\F214"; }

.fa-shoe-prints:before {
  content: "\F54B"; }

.fa-shopping-bag:before {
  content: "\F290"; }

.fa-shopping-basket:before {
  content: "\F291"; }

.fa-shopping-cart:before {
  content: "\F07A"; }

.fa-shower:before {
  content: "\F2CC"; }

.fa-sign:before {
  content: "\F4D9"; }

.fa-sign-in-alt:before {
  content: "\F2F6"; }

.fa-sign-language:before {
  content: "\F2A7"; }

.fa-sign-out-alt:before {
  content: "\F2F5"; }

.fa-signal:before {
  content: "\F012"; }

.fa-simplybuilt:before {
  content: "\F215"; }

.fa-sistrix:before {
  content: "\F3EE"; }

.fa-sitemap:before {
  content: "\F0E8"; }

.fa-sith:before {
  content: "\F512"; }

.fa-skull:before {
  content: "\F54C"; }

.fa-skyatlas:before {
  content: "\F216"; }

.fa-skype:before {
  content: "\F17E"; }

.fa-slack:before {
  content: "\F198"; }

.fa-slack-hash:before {
  content: "\F3EF"; }

.fa-sliders-h:before {
  content: "\F1DE"; }

.fa-slideshare:before {
  content: "\F1E7"; }

.fa-smile:before {
  content: "\F118"; }

.fa-smoking:before {
  content: "\F48D"; }

.fa-smoking-ban:before {
  content: "\F54D"; }

.fa-snapchat:before {
  content: "\F2AB"; }

.fa-snapchat-ghost:before {
  content: "\F2AC"; }

.fa-snapchat-square:before {
  content: "\F2AD"; }

.fa-snowflake:before {
  content: "\F2DC"; }

.fa-sort:before {
  content: "\F0DC"; }

.fa-sort-alpha-down:before {
  content: "\F15D"; }

.fa-sort-alpha-up:before {
  content: "\F15E"; }

.fa-sort-amount-down:before {
  content: "\F160"; }

.fa-sort-amount-up:before {
  content: "\F161"; }

.fa-sort-down:before {
  content: "\F0DD"; }

.fa-sort-numeric-down:before {
  content: "\F162"; }

.fa-sort-numeric-up:before {
  content: "\F163"; }

.fa-sort-up:before {
  content: "\F0DE"; }

.fa-soundcloud:before {
  content: "\F1BE"; }

.fa-space-shuttle:before {
  content: "\F197"; }

.fa-speakap:before {
  content: "\F3F3"; }

.fa-spinner:before {
  content: "\F110"; }

.fa-spotify:before {
  content: "\F1BC"; }

.fa-square:before {
  content: "\F0C8"; }

.fa-square-full:before {
  content: "\F45C"; }

.fa-stack-exchange:before {
  content: "\F18D"; }

.fa-stack-overflow:before {
  content: "\F16C"; }

.fa-star:before {
  content: "\F005"; }

.fa-star-half:before {
  content: "\F089"; }

.fa-staylinked:before {
  content: "\F3F5"; }

.fa-steam:before {
  content: "\F1B6"; }

.fa-steam-square:before {
  content: "\F1B7"; }

.fa-steam-symbol:before {
  content: "\F3F6"; }

.fa-step-backward:before {
  content: "\F048"; }

.fa-step-forward:before {
  content: "\F051"; }

.fa-stethoscope:before {
  content: "\F0F1"; }

.fa-sticker-mule:before {
  content: "\F3F7"; }

.fa-sticky-note:before {
  content: "\F249"; }

.fa-stop:before {
  content: "\F04D"; }

.fa-stop-circle:before {
  content: "\F28D"; }

.fa-stopwatch:before {
  content: "\F2F2"; }

.fa-store:before {
  content: "\F54E"; }

.fa-store-alt:before {
  content: "\F54F"; }

.fa-strava:before {
  content: "\F428"; }

.fa-stream:before {
  content: "\F550"; }

.fa-street-view:before {
  content: "\F21D"; }

.fa-strikethrough:before {
  content: "\F0CC"; }

.fa-stripe:before {
  content: "\F429"; }

.fa-stripe-s:before {
  content: "\F42A"; }

.fa-stroopwafel:before {
  content: "\F551"; }

.fa-studiovinari:before {
  content: "\F3F8"; }

.fa-stumbleupon:before {
  content: "\F1A4"; }

.fa-stumbleupon-circle:before {
  content: "\F1A3"; }

.fa-subscript:before {
  content: "\F12C"; }

.fa-subway:before {
  content: "\F239"; }

.fa-suitcase:before {
  content: "\F0F2"; }

.fa-sun:before {
  content: "\F185"; }

.fa-superpowers:before {
  content: "\F2DD"; }

.fa-superscript:before {
  content: "\F12B"; }

.fa-supple:before {
  content: "\F3F9"; }

.fa-sync:before {
  content: "\F021"; }

.fa-sync-alt:before {
  content: "\F2F1"; }

.fa-syringe:before {
  content: "\F48E"; }

.fa-table:before {
  content: "\F0CE"; }

.fa-table-tennis:before {
  content: "\F45D"; }

.fa-tablet:before {
  content: "\F10A"; }

.fa-tablet-alt:before {
  content: "\F3FA"; }

.fa-tablets:before {
  content: "\F490"; }

.fa-tachometer-alt:before {
  content: "\F3FD"; }

.fa-tag:before {
  content: "\F02B"; }

.fa-tags:before {
  content: "\F02C"; }

.fa-tape:before {
  content: "\F4DB"; }

.fa-tasks:before {
  content: "\F0AE"; }

.fa-taxi:before {
  content: "\F1BA"; }

.fa-teamspeak:before {
  content: "\F4F9"; }

.fa-telegram:before {
  content: "\F2C6"; }

.fa-telegram-plane:before {
  content: "\F3FE"; }

.fa-tencent-weibo:before {
  content: "\F1D5"; }

.fa-terminal:before {
  content: "\F120"; }

.fa-text-height:before {
  content: "\F034"; }

.fa-text-width:before {
  content: "\F035"; }

.fa-th:before {
  content: "\F00A"; }

.fa-th-large:before {
  content: "\F009"; }

.fa-th-list:before {
  content: "\F00B"; }

.fa-themeisle:before {
  content: "\F2B2"; }

.fa-thermometer:before {
  content: "\F491"; }

.fa-thermometer-empty:before {
  content: "\F2CB"; }

.fa-thermometer-full:before {
  content: "\F2C7"; }

.fa-thermometer-half:before {
  content: "\F2C9"; }

.fa-thermometer-quarter:before {
  content: "\F2CA"; }

.fa-thermometer-three-quarters:before {
  content: "\F2C8"; }

.fa-thumbs-down:before {
  content: "\F165"; }

.fa-thumbs-up:before {
  content: "\F164"; }

.fa-thumbtack:before {
  content: "\F08D"; }

.fa-ticket-alt:before {
  content: "\F3FF"; }

.fa-times:before {
  content: "\F00D"; }

.fa-times-circle:before {
  content: "\F057"; }

.fa-tint:before {
  content: "\F043"; }

.fa-toggle-off:before {
  content: "\F204"; }

.fa-toggle-on:before {
  content: "\F205"; }

.fa-toolbox:before {
  content: "\F552"; }

.fa-trade-federation:before {
  content: "\F513"; }

.fa-trademark:before {
  content: "\F25C"; }

.fa-train:before {
  content: "\F238"; }

.fa-transgender:before {
  content: "\F224"; }

.fa-transgender-alt:before {
  content: "\F225"; }

.fa-trash:before {
  content: "\F1F8"; }

.fa-trash-alt:before {
  content: "\F2ED"; }

.fa-tree:before {
  content: "\F1BB"; }

.fa-trello:before {
  content: "\F181"; }

.fa-tripadvisor:before {
  content: "\F262"; }

.fa-trophy:before {
  content: "\F091"; }

.fa-truck:before {
  content: "\F0D1"; }

.fa-truck-loading:before {
  content: "\F4DE"; }

.fa-truck-moving:before {
  content: "\F4DF"; }

.fa-tshirt:before {
  content: "\F553"; }

.fa-tty:before {
  content: "\F1E4"; }

.fa-tumblr:before {
  content: "\F173"; }

.fa-tumblr-square:before {
  content: "\F174"; }

.fa-tv:before {
  content: "\F26C"; }

.fa-twitch:before {
  content: "\F1E8"; }

.fa-twitter:before {
  content: "\F099"; }

.fa-twitter-square:before {
  content: "\F081"; }

.fa-typo3:before {
  content: "\F42B"; }

.fa-uber:before {
  content: "\F402"; }

.fa-uikit:before {
  content: "\F403"; }

.fa-umbrella:before {
  content: "\F0E9"; }

.fa-underline:before {
  content: "\F0CD"; }

.fa-undo:before {
  content: "\F0E2"; }

.fa-undo-alt:before {
  content: "\F2EA"; }

.fa-uniregistry:before {
  content: "\F404"; }

.fa-universal-access:before {
  content: "\F29A"; }

.fa-university:before {
  content: "\F19C"; }

.fa-unlink:before {
  content: "\F127"; }

.fa-unlock:before {
  content: "\F09C"; }

.fa-unlock-alt:before {
  content: "\F13E"; }

.fa-untappd:before {
  content: "\F405"; }

.fa-upload:before {
  content: "\F093"; }

.fa-usb:before {
  content: "\F287"; }

.fa-user:before {
  content: "\F007"; }

.fa-user-alt:before {
  content: "\F406"; }

.fa-user-alt-slash:before {
  content: "\F4FA"; }

.fa-user-astronaut:before {
  content: "\F4FB"; }

.fa-user-check:before {
  content: "\F4FC"; }

.fa-user-circle:before {
  content: "\F2BD"; }

.fa-user-clock:before {
  content: "\F4FD"; }

.fa-user-cog:before {
  content: "\F4FE"; }

.fa-user-edit:before {
  content: "\F4FF"; }

.fa-user-friends:before {
  content: "\F500"; }

.fa-user-graduate:before {
  content: "\F501"; }

.fa-user-lock:before {
  content: "\F502"; }

.fa-user-md:before {
  content: "\F0F0"; }

.fa-user-minus:before {
  content: "\F503"; }

.fa-user-ninja:before {
  content: "\F504"; }

.fa-user-plus:before {
  content: "\F234"; }

.fa-user-secret:before {
  content: "\F21B"; }

.fa-user-shield:before {
  content: "\F505"; }

.fa-user-slash:before {
  content: "\F506"; }

.fa-user-tag:before {
  content: "\F507"; }

.fa-user-tie:before {
  content: "\F508"; }

.fa-user-times:before {
  content: "\F235"; }

.fa-users:before {
  content: "\F0C0"; }

.fa-users-cog:before {
  content: "\F509"; }

.fa-ussunnah:before {
  content: "\F407"; }

.fa-utensil-spoon:before {
  content: "\F2E5"; }

.fa-utensils:before {
  content: "\F2E7"; }

.fa-vaadin:before {
  content: "\F408"; }

.fa-venus:before {
  content: "\F221"; }

.fa-venus-double:before {
  content: "\F226"; }

.fa-venus-mars:before {
  content: "\F228"; }

.fa-viacoin:before {
  content: "\F237"; }

.fa-viadeo:before {
  content: "\F2A9"; }

.fa-viadeo-square:before {
  content: "\F2AA"; }

.fa-vial:before {
  content: "\F492"; }

.fa-vials:before {
  content: "\F493"; }

.fa-viber:before {
  content: "\F409"; }

.fa-video:before {
  content: "\F03D"; }

.fa-video-slash:before {
  content: "\F4E2"; }

.fa-vimeo:before {
  content: "\F40A"; }

.fa-vimeo-square:before {
  content: "\F194"; }

.fa-vimeo-v:before {
  content: "\F27D"; }

.fa-vine:before {
  content: "\F1CA"; }

.fa-vk:before {
  content: "\F189"; }

.fa-vnv:before {
  content: "\F40B"; }

.fa-volleyball-ball:before {
  content: "\F45F"; }

.fa-volume-down:before {
  content: "\F027"; }

.fa-volume-off:before {
  content: "\F026"; }

.fa-volume-up:before {
  content: "\F028"; }

.fa-vuejs:before {
  content: "\F41F"; }

.fa-walking:before {
  content: "\F554"; }

.fa-wallet:before {
  content: "\F555"; }

.fa-warehouse:before {
  content: "\F494"; }

.fa-weibo:before {
  content: "\F18A"; }

.fa-weight:before {
  content: "\F496"; }

.fa-weixin:before {
  content: "\F1D7"; }

.fa-whatsapp:before {
  content: "\F232"; }

.fa-whatsapp-square:before {
  content: "\F40C"; }

.fa-wheelchair:before {
  content: "\F193"; }

.fa-whmcs:before {
  content: "\F40D"; }

.fa-wifi:before {
  content: "\F1EB"; }

.fa-wikipedia-w:before {
  content: "\F266"; }

.fa-window-close:before {
  content: "\F410"; }

.fa-window-maximize:before {
  content: "\F2D0"; }

.fa-window-minimize:before {
  content: "\F2D1"; }

.fa-window-restore:before {
  content: "\F2D2"; }

.fa-windows:before {
  content: "\F17A"; }

.fa-wine-glass:before {
  content: "\F4E3"; }

.fa-wolf-pack-battalion:before {
  content: "\F514"; }

.fa-won-sign:before {
  content: "\F159"; }

.fa-wordpress:before {
  content: "\F19A"; }

.fa-wordpress-simple:before {
  content: "\F411"; }

.fa-wpbeginner:before {
  content: "\F297"; }

.fa-wpexplorer:before {
  content: "\F2DE"; }

.fa-wpforms:before {
  content: "\F298"; }

.fa-wrench:before {
  content: "\F0AD"; }

.fa-x-ray:before {
  content: "\F497"; }

.fa-xbox:before {
  content: "\F412"; }

.fa-xing:before {
  content: "\F168"; }

.fa-xing-square:before {
  content: "\F169"; }

.fa-y-combinator:before {
  content: "\F23B"; }

.fa-yahoo:before {
  content: "\F19E"; }

.fa-yandex:before {
  content: "\F413"; }

.fa-yandex-international:before {
  content: "\F414"; }

.fa-yelp:before {
  content: "\F1E9"; }

.fa-yen-sign:before {
  content: "\F157"; }

.fa-yoast:before {
  content: "\F2B1"; }

.fa-youtube:before {
  content: "\F167"; }

.fa-youtube-square:before {
  content: "\F431"; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.sr-only-focusable:active,
.sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.fab {
  font-family: Font Awesome\ 5 Brands; }

.far {
  font-weight: 400; }

.fa,
.far,
.fas {
  font-family: Font Awesome\ 5 Free; }

.fa,
.fas {
  font-weight: 900; }

.navbar {
  z-index: 50;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  background-color: white;
  width: 100%;
  min-height: 4.817rem;
  max-height: 4.817rem; }
  .navbar .logo {
    width: 2.813rem;
    padding: 0.625rem 2rem 0.625rem 2rem; }
  .navbar .text {
    width: 18.75rem;
    padding: 0.625rem 2rem 0.625rem 2rem; }

.wrapper {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 50;
  box-shadow: 0px 0.25rem 0.625rem 0px rgba(0, 0, 0, 0.17); }
  .wrapper .user-option, .wrapper .name-kn_code {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center; }
  .wrapper .user-option .lip-option {
    margin-left: 2rem;
    cursor: pointer; }
  .wrapper .name-kn_code .lip-option .label {
    color: #56b7e9;
    font-size: 0.75rem; }

.lip-option {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.lip {
  width: calc(100%);
  background-color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  border-top: 0.125rem solid #f3f3f3;
  padding: 0.5rem 2rem; }

.splash {
  background-image: url(./images/blue15acb74a50fd498df64cb955d792108ad.jpg);
  background-position-x: right;
  background-repeat: no-repeat;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  position: absolute;
  -ms-flex-pack: center;
      justify-content: center; }
  .splash .wrapper {
    -webkit-filter: none !important;
            filter: none !important;
    box-shadow: none; }

.siteContent {
  display: none; }

.splash-head {
  font-size: 3rem;
  color: #002b55; }

.splash-body {
  margin: 0 0 5rem 0.25rem; }

.splash-description {
  font-size: 1.15rem;
  color: #56b7e9;
  margin: 0 0 0 0.25rem; }

#removeSplash {
  display: none;
  position: absolute;
  color: #002b55;
  right: 2.183rem;
  bottom: 2.183rem;
  font-size: 2.5rem;
  cursor: pointer; }

.loader {
  display: block;
  position: absolute;
  bottom: 2.813rem;
  right: 2.813rem;
  z-index: 200;
  width: 1.5rem;
  height: 1.5rem;
  animation: loaderAnim 1.25s infinite ease-in-out;
  outline: 0.0625rem solid transparent; }
  .loader #largeBox {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #34495e;
    outline: 0.0625rem solid transparent;
    position: fixed; }
  .loader #smallBox {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #e3eff5;
    position: fixed;
    z-index: 1;
    outline: 0.0625rem solid transparent;
    animation: smallBoxAnim 1.25s alternate infinite ease-in-out; }

@keyframes smallBoxAnim {
  0% {
    transform: scale(0.2); }
  100% {
    transform: scale(0.75); } }

@keyframes loaderAnim {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(90deg); } }

.globalError, .globalStatus, .globalSuccess, .globalWarning, .globalWarningConfirm {
  display: none;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  transition-duration: 0.5s;
  position: absolute;
  bottom: -3.125rem;
  height: 3.125rem;
  width: 100%;
  background-color: #ff4d4d;
  z-index: 50;
  color: white;
  font-weight: 400; }

.confirm, .reject {
  border: none;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  background-color: #de9528;
  cursor: pointer;
  color: white; }

.globalStatus {
  background-color: #FF6D00; }

.globalSuccess {
  background-color: #4caf50; }

.globalWarning, .globalWarningConfirm {
  background-color: #f9aa33;
  color: #212529; }

.user-input-wrp {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 0.875rem; }

.user-input-wrp .inputText {
  background: none;
  padding: 0.125rem 0;
  font-size: 1rem;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 0.0625rem solid #777; }

.user-input-wrp .floating-label {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  position: absolute;
  pointer-events: none;
  top: 0.125rem;
  left: 0;
  transition: 0.2s ease all;
  color: #212529;
  text-transform: capitalize; }

.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label {
  font-weight: normal;
  font-size: 1.5rem;
  width: 100%;
  top: -1.2125rem;
  margin: 0.125rem 0;
  font-size: 0.8125rem;
  opacity: 1;
  color: #212529; }

input:focus {
  outline: none; }

.search > .floating-label {
  left: 0.3125rem; }

.form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  text-transform: capitalize; }

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  width: 2.875rem;
  height: 1.625rem;
  background-color: #e6e6e6;
  border-radius: 1.438rem;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
  text-transform: capitalize; }

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2.625rem;
  height: 1.375rem;
  background-color: #fff;
  border-radius: 0.688rem;
  transform: translate3d(0.125rem, 0.125rem, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear; }

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 1.375rem;
  height: 1.375rem;
  background-color: #fff;
  border-radius: 0.688rem;
  box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24);
  transform: translate3d(0.125rem, 0.125rem, 0);
  transition: all 0.2s ease-in-out; }

.form-switch:active i::after {
  width: 1.75rem;
  transform: translate3d(0.125rem, 0.125rem, 0); }

.form-switch:active input:checked + i::after {
  transform: translate3d(1rem, 0.125rem, 0); }

.form-switch input {
  display: none; }

.form-switch input:checked + i {
  background-color: #4BD763; }

.form-switch input:checked + i::before {
  transform: translate3d(1.125rem, 0.125rem, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after {
  transform: translate3d(1.375rem, 0.125rem, 0); }

textarea {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: all;
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0;
  border: 0.0625rem solid #e3eff5;
  font-family: Roboto; }

textarea:focus ~ label,
textarea:not(:focus):valid ~ label {
  font-weight: normal;
  font-size: 1.5rem;
  width: 100%;
  top: -1.2125rem;
  margin: 0.125rem 0;
  font-size: 0.8125rem;
  opacity: 1;
  color: #212529; }

.is-floating-label {
  position: relative; }

.is-floating-label input {
  position: absolute;
  left: 0;
  background-color: transparent; }

.is-floating-label label {
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transform: translate3d(0, 0, 0) scale(1);
  transform-origin: left top;
  transition: 100ms; }

.is-floating-label.is-focused label {
  transform: translateY(-0.937rem) scale(0.85); }

.field {
  margin-top: 0.875rem;
  width: 90%;
  height: 12.5rem;
  position: relative; }

.label-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.2s ease all; }

.user-input-wrp .inputText {
  background: none;
  padding: 0.125rem 0;
  font-size: 1rem;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 0.0625rem solid #777; }

.search:focus-within {
  width: 100%; }

.search {
  margin-bottom: 1.125rem;
  padding: 0 0.3125rem;
  width: 100%; }

.sidebar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  position: fixed;
  background-image: url(./images/blue1154910d8bb775fcb7e9863d424b661fa5.jpg);
  height: calc(100% - 7.075rem);
  width: 100vw;
  right: 0;
  bottom: 0;
  z-index: 10;
  box-shadow: 0px 0px 41px -11px rgba(0, 0, 0, 0.75);
  flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  background-size: cover; }

.sidebar-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-weight: 400;
  width: 3.125rem;
  min-width: 3.125rem;
  max-width: 3.125rem;
  height: 100%;
  padding: 1.25rem 0.3125rem;
  background-color: #e3eff5;
  color: #212529;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  font-size: 1.2rem;
  transform: rotate(180deg);
  cursor: pointer;
  background: #5433FF;
  background: linear-gradient(to bottom, #FFFFFF, #68e0f0);
  background-size: cover; }

.chrome-transition {
  transition: 0.5s cubic-bezier(0.42, 0, 1, 1) all; }

* {
  box-sizing: border-box; }

*::-webkit-scrollbar-track {
  background-color: transaprent; }

*::-webkit-scrollbar {
  width: 0.625rem;
  background-color: transparent; }

*::-webkit-scrollbar-thumb {
  background-color: #56b7e9; }

@media all and (max-width: 67.13rem) {
  .mainContent {
    width: 100%; }
  .arrowContainer, .right-arrow {
    display: none; }
  .user-input-wrp {
    width: calc(100% - 0.3125rem); }
  button {
    width: calc(100% - 0.3125rem); }
  .error {
    width: calc(100% - 0.3125rem); }
  .navbar {
    -ms-flex-pack: center;
        justify-content: center; }
    .navbar .text {
      display: none; }
  .lip {
    padding-left: 1rem;
    padding-right: 1rem; }
    .lip span {
      display: none; }
    .lip #name {
      display: -ms-flexbox;
      display: flex; }
    .lip * {
      font-size: 1.25rem; }
  #admin-option, .text, #switch-option, #edit-option, .comma {
    display: none; }
  .sidebar-transition {
    right: 0 !important;
    bottom: 0 !important; }
  .sidebar {
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
    height: calc(100% - 120px);
    bottom: 0;
    right: 0; }
  .sidebar-title {
    -ms-writing-mode: lr-tb;
        writing-mode: lr-tb;
    transform: none;
    min-width: 100%;
    width: 100%;
    min-height: 50px;
    max-height: 50px; }
  .arrowContainer {
    display: none; }
  .right-arrow {
    width: 0;
    height: 0;
    border-left: 1.25rem solid transparent;
    border-right: 1.25rem transparent solid;
    border-top: 1.25rem #891701 solid;
    border-bottom: 1.25rem transparent solid; }
  .list {
    width: 100%; }
  .listContainer {
    padding-right: 0; }
  #showObjective {
    max-height: calc(100% - 100px - 120px);
    min-height: calc(100% - 100px - 120px);
    bottom: -100vh;
    right: 0; }
  *::-webkit-scrollbar-track {
    background-color: unset; }
  *::-webkit-scrollbar {
    width: 0.625rem;
    background-color: unset; }
  *::-webkit-scrollbar-thumb {
    background-color: unset; }
  *:focus {
    outline: unset; }
  button {
    width: calc(100% - 0.3125rem); }
  .error {
    width: calc(100% - 0.3125rem); } }

.display {
  display: -ms-flexbox !important;
  display: flex !important; }

.display-loader {
  display: block !important; }

.invisible {
  display: none !important; }

.site-content, .siteContent {
  display: none;
  overflow: hidden;
  width: 100vw;
  height: 100vh; }

a, a:link, a:visited, a:hover, a:active {
  color: #212529;
  text-decoration: none;
  font-weight: normal; }

*:focus {
  outline: none; }

button {
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  min-height: 3.125rem;
  border: 0.125rem #002b55 solid;
  background-color: white;
  color: #212529;
  size: 1.5em;
  margin: 0.625rem 0; }

.error, .emailValidate, .passwordValidate, .ValidateForgotMail {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10px;
  margin: 0 0 10px 0;
  font-size: 13px;
  color: #ff4d4d; }

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  font-family: Roboto;
  overflow: hidden; }

img {
  box-sizing: content-box !important;
    box-sizing-user-select: none; }

#edit-option {
  cursor: pointer;
  margin-left: 0.5rem; }

.lip-option:hover i {
  color: #56b7e9; }

i {
  display: inline-block;
  width: 1rem;
  font-size: 1rem;
  width: auto;
  margin: 0 0.5rem 0 0rem; }

.title-bar {
  padding-right: 1.75rem;
  height: 4.75rem;
  border-bottom: 0.125rem solid #e3eff5;
  width: 100%;
  color: #212529;
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: 0.3125rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }

.arrowContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  width: 1.75rem; }

.right-arrow {
  width: 0;
  height: 0;
  border-left: 1.25rem solid #b3eff7;
  border-right: 1.25rem transparent solid;
  border-top: 1.25rem transparent solid;
  border-bottom: 1.25rem transparent solid; }

.margin-none {
  margin: 0 !important; }

.baseline {
  -ms-flex-align: baseline;
      align-items: baseline; }

.sidebar {
  height: calc(100% - 4.875rem); }

.mainContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 100%;
  height: 100%; }

button {
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  min-height: 3.125rem;
  border: 0.125rem #002b55 solid;
  background-color: white;
  color: #212529;
  size: 1.5em;
  margin: 0.625rem 0; }

#addbasic .mainContent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  background-color: white;
  width: 75%; }

#addbasic .listOfPresent {
  width: 100%;
  padding: 2rem;
  padding-right: 3.75rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start;
  height: 100%;
  overflow-y: auto; }

#addbasic .form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  min-height: 100%;
  width: 75%; }

#addbasic .user-input-wrp {
  width: 100%; }

#addOption {
  right: -100vw;
  width: calc(100vw - 3.125rem); }
  #addOption .error {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 0.625rem;
    margin: -0.09rem 0 1.125rem 0;
    font-size: 0.8125rem;
    color: #ff4d4d; }
  #addOption .form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: start;
        align-items: flex-start;
    max-height: 100%;
    width: 100%;
    padding: 0 1rem; }
  #addOption .mainContent {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    background-color: white;
    width: 100%; }
  #addOption .list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    box-shadow: 0 0.0625rem 0.5rem 0rem #aaa;
    margin-right: 1.25rem;
    color: white;
    font-family: Roboto;
    height: 3.625rem;
    margin: 0 0 1.25rem 0rem;
    color: #212529;
    width: 100%;
    cursor: pointer;
    background-color: white;
    -ms-flex: 0 0 auto;
        flex: 0 0 auto; }
  #addOption .listLabel {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: start;
        justify-content: flex-start;
    width: calc(100% - 7rem);
    height: 100%;
    padding-left: 1rem; }
  #addOption .icon {
    content: '\F00C';
    width: 3.125rem;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    color: white; }
  #addOption .mark {
    content: '\F058';
    color: white;
    min-height: 3.5rem;
    cursor: pointer;
    min-width: 3.5rem;
    background-color: #56b7e9;
    font-size: 1.2rem; }
  #addOption .selected {
    background-color: #56b7e9; }
  #addOption .currentElement {
    background-color: #56b7e9;
    color: white; }
  #addOption .freeze {
    color: #aaa;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none; }
  #addOption i {
    cursor: pointer; }

.error {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 0.625rem;
  margin: -0.09rem 0 1.125rem 0;
  font-weight: 400;
  font-size: 0.8125rem;
  color: #ff4d4d; }

#addbasic {
  left: 0;
  width: 100vw; }

.container {
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  width: 100%;
  padding-right: 5px; }

#selectCountry .listOfPresent {
  width: 100%; }

#selectCountry .arrowContainer {
  background-color: #e3eff5; }

#selectCountry .right-arrow {
  border-color: transparent transparent transparent #891701; }

#selectFramework .container {
  background-color: #e3eff5; }

#selectFramework .listOfPresent {
  width: 100%;
  display: -ms-flexbox;
  display: flex; }

#selectFramework .arrowContainer {
  background-color: white; }

#selectFramework .right-arrow {
  border-color: transparent transparent transparent #891701; }

#selectLevel .listOfPresent {
  width: 100%;
  display: -ms-flexbox;
  display: flex; }

.colContainer {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex; }

@media all and (max-width: 32.8rem) {
  .mainContent {
    width: 100%; }
  .colContainer {
    -ms-flex-direction: column;
        flex-direction: column; }
  .col1, .col2 {
    height: 100%; } }

